<footer class="site-footer footer">
    <div class="container-fluid footer-container">
      <div class="site-footer__top clearfix">
        <section class="row region region-footer-first">
          <div
            id="block-partnerblock"
            class="block block-hubber-partners block-partner-block"
          >
            <div class="content">
              <div id="block-hubber-partners">
                <div class="wrapper-partners">
                  <div class="title">Worldwide partners</div>
                  <div class="content-partners">
                    <div class="partners">
                      <div class="partners-li">
                        <a
                          href="https://www.societegenerale.com/en"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/HimXjPY_1j9Mw65z-EG6WDt01OVxYrtOldvigDDvUeg/1614779104/public/2021-03/societe-generale_0_0.svg"
                              alt="societe_generale"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="45"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.mastercard.co.uk/en-gb.html"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/WGFm_UzOmJANxB5Gg3sIhkWcIpVM0YKUViEnkp9pHnM/1614778722/public/2021-03/mastercard_1_0.svg"
                              alt="mastercard"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="45"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="http://www.asahisuperdry.com/"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/XEhYUhLrCVr8-hCy3ztDcIkP61b3MpO6oTZ0s95A2WI/1680101898/public/2023-03/asahi-silver.svg"
                              alt="Asahi"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="30"
                              height="13"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.capgemini.com"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/9fGGSQR4cLkI2hJZh5lRjNnSUj0uUhxSt3bNqrGR8ss/1630918947/public/2021-09/capgemini-2.svg"
                              alt="Capgemini"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="45"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.jaguarlandrover.com/"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/_Usnb3nRl2CTvnQJzVzxpsPi3_Le3FMmzq6kQM7uFH4/1680102468/public/2023-03/defender_contour_0.svg"
                              alt="Defender"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="30"
                              height="13"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.emirates.com/"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/qpzInrVjbavhlGn1cFYRrJ8zNXpE207BuqFQFkDg8D8/1680102044/public/2023-03/emirates_0.svg"
                              alt="Asahi"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="30"
                              height="13"
                            />
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wrapper-partners">
                  <div class="title">Official sponsors</div>
                  <div class="content-partners">
                    <div class="partners">
                      <div class="partners-li">
                        <a
                          href="https://www.gl-events.com/en"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/utMuobZ864zFccOhWfdeLNOjdsh05b0ZmOtY0uNxYJw/1614779439/public/2021-03/gl.svg"
                              alt="Gl_events"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="44"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a href="https://www.gmf.fr/" target="_blank">
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/nCePnx9w53aQyu7Kid_f790o-8Rinyn5NFOaZHjkmcA/1636535443/public/2021-11/gmf.svg"
                              alt="GMF"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="44"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.loxam.com/?lang=en"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/4ilaU71AqO4FpLtfPSK3jqM_Vs132OwHCvhpym-GIvE/1614779196/public/2021-03/loxam-1_0.svg"
                              alt="loxam"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="44"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.orange.com/en"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/Sp8yznKLfwBLgkyKnt4ga5Ll__cLEGx3TCbMGDJNmZQ/1614779246/public/2021-03/orange.svg"
                              alt="orange"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="44"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.proman-emploi.fr/"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/PCcTIyVcpwZRxK513GvP3xdioS81bAJddQHhInDv3jQ/1614779333/public/2021-03/proman.svg"
                              alt="proman"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="44"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.sncf.com/en"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/JYsX-GJv8cSRDl5vGBcONKX8j2jKYdqf_oX2rIICEZQ/1614779287/public/2021-03/sncf.svg"
                              alt="sncf"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="44"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.totalenergies.com"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/GADTdAb7vMQL4TYcTrRMJ24aF3UxgYZjAmr4zl48Xv4/1680508369/public/2023-04/total-energies.svg"
                              alt="Total Energies"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="44"
                            />
                          </span>
                        </a>
                      </div>
                      <div class="partners-li">
                        <a
                          href="https://www.vivendi.com/"
                          target="_blank"
                        >
                          <span>
                            <img
                              src="https://static-rwc.as2.io/cdn/ff/aoBRC6WGklhQ3x086zxYp2MeamIhLoMYUiHI5RWv3fk/1614779367/public/2021-03/vivendi.svg"
                              alt="Vivendi"
                              loading="lazy"
                              typeof="foaf:Image"
                              width="100"
                              height="44"
                            />
                          </span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            id="block-hubberfooterbranding"
            class="block block-hubber block-hubber-footer-branding-block"
          >
            <div class="content">
              <img
                src="https://static-rwc.as2.io/cdn/ff/oRUsdfJay_xOxbKPbWD2T7YgPGLiYOR245m8OnQalZU/1612428521/public/vector-10.png"
                alt="Home"
                typeof="foaf:Image"
              />
            </div>
          </div>
          <div
            id="block-followus"
            class="block block-hubber block-hubber-social-link"
          >
            <div class="title">Follow us</div>

            <div class="content">
              <ul class="hubber-social-icons">
                <li>
                  <a
                    target="_blank"
                    href="https://www.facebook.com/RugbyWorldCupFrance2023"
                    aria-label="See our Facebook page"
                  >
                    <i aria-hidden="true" class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://twitter.com/France2023"
                    aria-label="See our Twitter page"
                  >
                    <i aria-hidden="true" class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.instagram.com/rugbyworldcupfrance2023"
                    aria-label="See our Instagram page"
                  >
                    <i aria-hidden="true" class="icon-instagram"></i>
                  </a>
                </li>
                <li>
                  <a
                    target="_blank"
                    href="https://www.youtube.com/channel/UCLxac7Ax2HXEueOJVvhPtzg"
                    aria-label="See our Youtube page"
                  >
                    <i aria-hidden="true" class="icon-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div
            class="language-switcher-language-url block block-language block-language-blocklanguage-interface"
            id="block-wrc8-language-switcher"
            role="navigation"
          >
            <div class="title">Langue</div>

            <div class="content">
              <div class="dropdown dropdown-lang">
                <button
                  class="btn-switch-lang dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                >
                  EN
                </button>
                <div class="dropdown-menu">
                  <div
                    class="dropdown-item is-active"
                    hreflang="en"
                    data-drupal-link-query='{"destination":"\/en\/home"}'
                    data-drupal-link-system-path="user/login"
                  >
                    <a
                      href="user/login?destination=/home"
                      class="language-link is-active"
                      hreflang="en"
                      data-drupal-link-query='{"destination":"\/en\/home"}'
                      data-drupal-link-system-path="user/login"
                      >EN</a
                    >
                  </div>
                  <div
                    class="dropdown-item"
                    hreflang="fr"
                    data-drupal-link-query='{"destination":"\/en\/home"}'
                    data-drupal-link-system-path="user/login"
                  >
                    <a
                      href="fr/user/login?destination=/home"
                      class="language-link"
                      hreflang="fr"
                      data-drupal-link-query='{"destination":"\/en\/home"}'
                      data-drupal-link-system-path="user/login"
                      >FR</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="site-footer__bottom">
        <section class="row region region-footer-fifth">
          <nav
            role="navigation"
            aria-labelledby="block-wrc8-footer-menu"
            id="block-wrc8-footer"
            class="block block-menu navigation menu--footer"
          >
            <div class="sr-only" id="block-wrc8-footer-menu">
              Footer menu
            </div>

            <ul
              block="block-wrc8-footer"
              class="clearfix nav navbar-nav"
            >
              <li class="nav-item">
                <a
                  href="legal_notice"
                  class="nav-link nav-link--en-legal-notice"
                  target="_blank"
                  data-drupal-link-system-path="node/8"
                  >Legal notice</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="general_terms_and_conditions"
                  class="nav-link nav-link--en-general-terms-and-conditions"
                  target="_blank"
                  data-drupal-link-system-path="node/6"
                  >Terms &amp; Conditions</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="cookies"
                  class="nav-link nav-link--en-cookies"
                  target="_blank"
                  data-drupal-link-system-path="node/9"
                  >Cookies</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="privacy_policy"
                  class="nav-link nav-link--en-privacy-policy"
                  target="_blank"
                  data-drupal-link-system-path="node/10"
                  >Privacy policy</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="https://tickets.rugbyworldcup.com/contact-us"
                  class="nav-link nav-link-https--ticketsrugbyworldcupcom-en-contact-us"
                  target="_blank"
                  >Contact</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="https://tickets.rugbyworldcup.com/faq"
                  class="nav-link nav-link-https--ticketsrugbyworldcupcom-en-faq"
                  target="_blank"
                  >FAQ</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="https://www.rugbyworldcup.com/2023/news"
                  class="nav-link nav-link-https--wwwrugbyworldcupcom-2023-news"
                  target="_blank"
                  >News</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="contests_rules"
                  class="nav-link nav-link--en-contests-rules"
                  data-drupal-link-system-path="node/90"
                  >Contests rules</a
                >
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </div>
  </footer>