{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}{% endblock title %}
  </title>
  <link rel="image_src"
    href="https://tickets.rugbyworldcup.com/sites/hubber_site_wrc8/files/inline-images/visuel-fb-fr.png" />
  <meta name="description"
    content="Discover the products available on the official ticketing website for Rugby World Cup France 2023" />
  <meta name="abstract"
    content="Discover the products available on the official ticketing website for Rugby World Cup France 2023" />
  <meta property="fb:app_id" content="857568571698726" />
  <meta property="og:title" content="Home Page | Rugby World Cup France 2023" />
  <meta property="og:description"
    content="Discover the products available on the official ticketing website for Rugby World Cup France 2023" />
  <meta name="MobileOptimized" content="width" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="theme-color" content="#2d3cff" />
  <meta name="format-detection" content="telephone=no" />
</head>
<body>
    

</body>
</html>