{% load static %}

<html
  dir="ltr"
  prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# "
  class="js"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <noscript
      ><meta
        http-equiv="Refresh"
        content="0; URL=/en/big_pipe/no-js?destination=/en/home"
      />
    </noscript>
    <script
      src="https://www.googletagmanager.com/gtm.js?id=GTM-5NCVV2P"
      async=""
    ></script>
    <script
      type="text/javascript"
      async=""
      src="https://www.gstatic.com/recaptcha/releases/1h-hbVSJRMOQsmO_2qL9cO0z/recaptcha__en.js"
      crossorigin="anonymous"
      integrity="sha384-oPLuJ5GvCPa+xE5+sUj1qdRiz2CRlz7M40INEK/qMfWH71A4aD0cpJwQiZVVdiVm"
    ></script>
    <script
      async=""
      src="https://connect.facebook.net/en_US/fbevents.js"
    ></script>
    <script
      id="tb-ext-app"
      data-proxy-url="https://wetix.teambrain.app/antilop/app/teambrain\/externalApp/"
      src="https://wetix.teambrain.app/antilop/app/teambrain/externalApp/front/extAccess/dist/tb-external-v1.js?v=1.0&amp;s=YWRPamlla0RoQTdiUXJOaWxkU1J4Zz09&amp;c=MmJiZUNGT3d2Z2d4ZkJCT0hyWmJjQU5sVUFsaVQ1ZmE0Wm5sRTNIcVVDblRHMTdtb2tVd1BTTkJaaTdHZDRQcw==&amp;app=SW1LaUM1cVk5RWxuZEZ0Q21QRFZ1Zz09&amp;t=Z2NpRVVSWXFleWVNWmNXU3JXSml1Zz09&amp;key=K3l0QmQ4Mi9mT3l2TWIwU2dHWC9wcHJycnRkUFY0Nm5mTGwrN2tRZjlVTTN0WmYrTjM2aUs2MFI1YW5GN0loWnY4eDVBcTVaNnBPNk03OEx4QUd3TFE9PQ=="
    ></script>
    <link
      rel="stylesheet"
      href="https://wetix.teambrain.app/antilop/app/teambrain\/externalApp/front/extAccess/asset/css/tb-external-v1.css"
    />
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "1025487851578838");
      fbq("track", "PageView");
    </script>
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "192745372184685");
      fbq("track", "PageView");
    </script>
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "192745372184685");
      fbq("track", "PageView");
    </script>
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "192745372184685");
      fbq("track", "PageView");
    </script>
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "192745372184685");
      fbq("track", "PageView");
    </script>
    <script>
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",
        "https://connect.facebook.net/en_US/fbevents.js"
      );
      fbq("init", "192745372184685");
      fbq("track", "PageView");
    </script>
    <link rel="canonical" href="https://tickets.rugbyworldcup.com/user/login" />
    <meta
      name="description"
      content="Discover the products available on the official ticketing website for Rugby World Cup France 2023"
    />
    <meta
      name="abstract"
      content="Discover the products available on the official ticketing website for Rugby World Cup France 2023"
    />
    <meta property="fb:app_id" content="857568571698726" />
    <meta
      property="og:title"
      content="Login / Register | Rugby World Cup France 2023"
    />
    <meta
      property="og:description"
      content="Discover the products available on the official ticketing website for Rugby World Cup France 2023"
    />
    <meta
      property="og:image:url"
      content="https://tickets.rugbyworldcup.com/sites/hubber_site_wrc8/files/inline-images/visuel-fb-en.png"
    />
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="theme-color" content="#2d3cff" />
    <meta name="format-detection" content="telephone=no" />
    <script
      src="https://www.google.com/recaptcha/api.js?hl=en"
      async=""
      defer=""
    ></script>
    <link
      rel="preload"
      as="font"
      href="{% static 'themes/custom/hubber_reference8/fonts/hubber8/hubber8.woff' %}"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      href="{% static 'themes/custom/wrc8/font/webbelliscup/WebbEllisCup-Regular.woff' %}"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="//static-rwc.as2.io/cdn/ff/9-4TlgwLxwNpQmhgK3V1zncVjKKev6wItKSV4AGLLws/1614764551/public/favicon.png"
      type="image/png"
    />
    <script
      src="{% static '/sites/hubber_site_wrc8/files/google_tag/google_tag_manager/google_tag.script.js?ruaexn' %}"
      defer=""
    ></script>
    <script>
      window.a2a_config = window.a2a_config || {};
      a2a_config.callbacks = [];
      a2a_config.overlays = [];
      a2a_config.templates = {};
    </script>
    <script>
      window.onload = function () {
        const Http = new XMLHttpRequest();
        const url =
          "https://awsrwc1-lane-matomo.prd.fa.wetix-agency.fr/session.php?idsite=1";
        Http.open("GET", url);
        Http.send();
      };
    </script>

    <title>Login / Register | Rugby World Cup France 2023</title>
    <link
      rel="stylesheet"
      media="all"
      href="{% static 'sites/hubber_site_wrc8/files/css/css_WnlIiTUIsZyCxpdU-xW_JYz86J61ME0lIRfaZ_4h7x4.css' %}"
    />
    <link
      rel="stylesheet"
      media="all"
      href="{% static 'sites/hubber_site_wrc8/files/css/css_NCQaKnBzWfvl5MjEU_r1wU3WbfmhvDKG8dvqVxcy5VA.css' %}"
    />

    <script
      src="https://static.addtoany.com/menu/modules/core.26680508.js"
      type="module"
    ></script>
   <link type="text/css" href="{% static 'css/side/login1.css' %}">
   <link type="text/css" href="{% static 'css/side/login2.css' %}">
   <!-- <link rel="stylesheet" href="/login2.css"> -->
    <script
      src="https://cookie-cdn.cookiepro.com/scripttemplates/6.16.0/otBannerSdk.js"
      async=""
      type="text/javascript"
    ></script>
  
  </head>
  <body
    class="fontyourface layout-no-sidebars page-user-login path-user scrollup"
    data-once="form-single-submit"
  >
    
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
      <div id="page-wrapper">
        <div class="hubber-off-canvas link" style="display: block">
          <div
            id="block-wrc8-hubbermenu"
            class="block block-hubber-block block-hubber-menu-block"
          >
            <div class="content">
              <div class="hubber-menu-header hubber-menu-close">
                <a href="en" title="Home" rel="home">
                  <img
                    src="https://static-rwc.as2.io/cdn/ff/IdMLAsYEsfrZS2pMMVn7OzDMg6FSDavYm5Z4Oiqs2HQ/1607950225/public/logo-picto.png"
                    alt="Home"
                    class="img-fluid d-inline-block align-top"
                  />
                  <div class="logo-main"></div>
                </a>
              </div>
              <div class="justify-content-end link" id="hubberMenu">
                <div
                  class="hubber-menu__menu hubber-menu__menu--main"
                  data-drupal-selector="hubber-menu--main"
                >
                  <div class="hubber-menu__menu-title">
                    Navigation principale
                  </div>
               
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="page">
      <!-- header zone -->
          {% include "users_pages/__header.html" %}
      
          <div class="highlighted">
            <aside
              class="container-fluid section clearfix"
              role="complementary"
            >
              <div data-drupal-messages-fallback="" class="hidden"></div>
            </aside>
          </div>
          <div id="main-wrapper" class="layout-main-wrapper clearfix">
            <div id="main" class="container-fluid">
              <div class="row row-offcanvas row-offcanvas-left clearfix">
                <main
                  class="main-content col order-last"
                  id="content"
                  role="main"
                >
                  <section class="section">
                    <a id="main-content" tabindex="-1"></a>
                    <div
                      id="block-wrc8-page-title"
                      class="block block-core block-page-title-block"
                    >
                      <div class="content">
                        <h1 class="title">Login / Register</h1>
                        <p class="user-login-title-suffix">
                          Fill in your email address to log in or register<br />
                        </p>
                      </div>
                    </div>
                    <div
                      id="block-wrc8-content"
                      class="block block-system block-system-main-block"
                    >
                      <div class="content">
                        <form
                          class="user-login-form pwd-see"
                          data-drupal-selector="user-login-form"
                          method="post"
                          id="user-login-form"
                          accept-charset="UTF-8"
                          data-once="form-updated"
                          data-drupal-form-fields="edit-name,edit-pass,edit-submit"
                        >
                        
                        {% csrf_token %}
                        <div class="user-login-wrapper">
                          {% for field in form %}
                            <fieldset class="js-form-item js-form-type-{{ field.field.widget.input_type }} form-type-{{ field.field.widget.input_type }} js-form-item-{{ field.name }} form-item-{{ field.name }} form-group">
                              <label for="{{ field.id_for_label }}" class="js-form-required form-required">
                                <span>Your <span class="font-weight-bold">{{ field.label }}</span></span>
                              </label>
                              {{ field }}
                            </fieldset>
                          {% endfor %}
                      
                          <button type="submit">Register</button>
                        </div>
                          <div class="register-informations" data-label-or="or">
                            <div
                              id="block-socialauthlogin"
                              class="block block-social-auth block-social-auth-login"
                            >
                              <div class="content">
                                <div class="login-social-list">
                                  <a
                                    class="btn social_auth_google"
                                    href="google.html"
                                  >
                                    Continue with Google
                                  </a>
                                  <a
                                    class="btn social_auth_facebook"
                                    href="facebook.html"
                                  >
                                    Continue with Facebook
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </section>
                </main>
              </div>
            </div>
          </div>
         

          <!-- footer -->
          {% include "users_pages/__footer.html" %}

        </div>
      </div>
      <div class="scroller">
        <div class="top"></div>
      </div>
    </div>

    <script type="application/json" data-drupal-selector="drupal-settings-json">
      {
        "path": {
          "baseUrl": "\/",
          "scriptPath": null,
          "pathPrefix": "en\/",
          "currentPath": "user\/login",
          "currentPathIsAdmin": false,
          "isFront": false,
          "currentLanguage": "en",
          "cart_timeout": "\/en\/cart?expired=1",
          "currentQuery": { "destination": "\/en\/home" }
        },
        "pluralDelimiter": "\u0003",
        "suppressDeprecationErrors": true,
        "ajaxPageState": {
          "libraries": "addtoany\/addtoany.front,ajax_loader\/ajax_loader.throbber,bootstrap_barrio\/form,bootstrap_barrio\/global-styling,bootstrap_barrio\/links,captcha\/base,commerce_cart\/cart_block,hubber\/hubber_init,hubber\/hubber_loader,hubber\/noscript,hubber_cart\/hubber_cart_timeout,hubber_customers\/customers.email,hubber_partners\/hubber_partners,hubber_reference8\/global-styling,hubber_reference8\/input.number.operators,hubber_tag\/hubber_tag_events,password_eye\/pwd_eye_lib,rwc\/cookie,rwc_home\/home_tag_events,rwc_qualifio\/popin,super_login\/super_login_js,system\/base,wrc8\/admincss.admincss,wrc8\/global-styling",
          "theme": "wrc8",
          "theme_token": null
        },
        "ajaxTrustedUrl": {
          "form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM": true
        },
        "locale": "en",
        "ajaxLoader": {
          "markup": "\u003Cdiv class=\u0022ajax-throbber\u0022\u003E\u003C\/div\u003E",
          "hideAjaxMessage": false,
          "alwaysFullscreen": true,
          "throbberPosition": "body"
        },
        "hubber_tags": {
          "tagPageLoad": [
            {
              "dataLayer": "dataLayer",
              "data": {
                "event": "virtualPageview",
                "cookie_matching": "fe76dcfd-d6e3-440b-a212-ba6dfe83c132",
                "page": "\/en\/user\/login",
                "login_status": "no",
                "pagename": "Login \/ Register"
              }
            }
          ],
          "tagClickConnect": [
            {
              "dataLayer": "dataLayer",
              "data": {
                "event": "gaEvent",
                "eventCategory": "login",
                "eventAction": "clic",
                "eventLabel": "Login \/ Register"
              }
            }
          ],
          "tagClickLogo": [
            {
              "dataLayer": "dataLayer",
              "data": {
                "event": "gaEvent",
                "eventCategory": "logo",
                "eventAction": "clic",
                "eventLabel": "Login \/ Register"
              }
            }
          ],
          "tagScroll": [
            {
              "dataLayer": "dataLayer",
              "data": {
                "event": "gaEvent",
                "eventCategory": "scroll",
                "eventLabel": "Login \/ Register"
              }
            }
          ]
        },
        "show_messages": 1,
        "menu_burger": 0,
        "popin_url": null,
        "user": {
          "uid": 0,
          "permissionsHash": "2040df5a2d19a9e9ec163baeff112c143ce49cccae8a406b1aae581c2e60b25a"
        }
      }
    </script>
    <script src="{% static '/sites/hubber_site_wrc8/files/js/js_c4kqmzeReCyEvbIqYadRdUIoqqqR-iaBZbs1xBUI430.js' %}"></script>
    <script src="https://static.addtoany.com/menu/page.js" async=""></script>
    <script src="{% static '/sites/hubber_site_wrc8/files/js/js_DNmDFTglzKtvAxxcxGLCvBqwpDVlIXl0sT3OaHYs2p4.js' %}"></script>
    <div style="position: static">
      <div
        style="
          height: 1px;
          width: 1px;
          position: absolute;
          z-index: 100000;
          top: 0px;
          visibility: hidden;
        "
      >
        <iframe
          id="a2a_sm_ifr"
          style="
            height: 1px;
            width: 1px;
            border: 0px none;
            left: 0px;
            top: 0px;
            position: absolute;
            z-index: 100000;
            display: none;
          "
          title="AddToAny Utility Frame"
          transparency="true"
          allowtransparency="true"
          src="https://static.addtoany.com/menu/sm.24.html#type=core&amp;event=load"
          frameborder="0"
        ></iframe>
      </div>
    </div>

    <div id="drupal-modal" class="ui-front" style="display: none"></div>
    <div style="display: none; visibility: hidden">
      <script>
        (function () {
          var a = document.createElement("script");
          a.setAttribute(
            "src",
            "https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js"
          );
          a.setAttribute("charset", "UTF-8");
          a.setAttribute(
            "data-domain-script",
            "4e35a1b0-12ad-4046-96d5-cca5cefe88b1"
          );
          document.body.appendChild(a);
        })();
      </script>
      <script type="text/javascript">
        function OptanonWrapper() {}
      </script>
    </div>
    <script
      src="https://cookie-cdn.cookiepro.com/scripttemplates/otSDKStub.js"
      charset="UTF-8"
      data-domain-script="4e35a1b0-12ad-4046-96d5-cca5cefe88b1"
    ></script>
    <script type="text/javascript" id="">
      window.dataLayer = window.dataLayer || [];
      if (-1 < google_tag_manager["GTM-5NCVV2P"].macro(3).indexOf("_gp"))
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              currencyCode: "EUR",
              detail: { products: google_tag_manager["GTM-5NCVV2P"].macro(4) },
            },
          }),
          console.log("test view item");
      else if (-1 < google_tag_manager["GTM-5NCVV2P"].macro(5).indexOf("cart"))
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              currencyCode: "EUR",
              add: { products: google_tag_manager["GTM-5NCVV2P"].macro(6) },
            },
          }),
          console.log("test add to cart");
      else if (
        -1 < google_tag_manager["GTM-5NCVV2P"].macro(7).indexOf("checkout") &&
        -1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(8)
            .indexOf("order_information")
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              checkout: {
                actionField: { step: 1 },
                products: google_tag_manager["GTM-5NCVV2P"].macro(9),
              },
            },
          }),
          console.log("test order info step 1");
      else if (
        (-1 < google_tag_manager["GTM-5NCVV2P"].macro(10).indexOf("checkout") &&
          -1 <
            google_tag_manager["GTM-5NCVV2P"].macro(11).indexOf("payment")) ||
        (-1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(12)
            .indexOf("payment-order") &&
          -1 < google_tag_manager["GTM-5NCVV2P"].macro(13).indexOf("payment"))
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              checkout: {
                actionField: { step: 2 },
                products: google_tag_manager["GTM-5NCVV2P"].macro(14),
              },
            },
          }),
          console.log("test payment step 2");
      else if (
        (-1 < google_tag_manager["GTM-5NCVV2P"].macro(15).indexOf("checkout") &&
          -1 <
            google_tag_manager["GTM-5NCVV2P"].macro(16).indexOf("complete")) ||
        (-1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(17)
            .indexOf("get-order-split-payment") &&
          -1 < google_tag_manager["GTM-5NCVV2P"].macro(18).indexOf("complete"))
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              purchase: {
                actionField: {
                  id: "undefined",
                  revenue: google_tag_manager["GTM-5NCVV2P"].macro(19),
                },
                products: google_tag_manager["GTM-5NCVV2P"].macro(20),
              },
            },
          }),
          console.log("test purchase undefined");
    </script>
    <div class="tb-ae-iconBox tb-ae-iconContainer tb-ae-on">
      <iframe
        class="tb-ae-iconBox tb-ae-on"
        style="--primary-color: #19194b; --primary-color-light: #19194b45"
      ></iframe>
    </div>
    <div class="tb-ae-appContainer tb-ae-opacity-animate">
      <span class="tb-ae-iconClose-button"
        ><style>
          .tb-ae-iconClose-button-span {
            --primary-color: #19194b;
            --primary-color-light: #19194b45;
          }
        </style>
        <span class="tb-ae-iconClose-button-span">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="times"
            class="svg-inline--fa fa-times fa-w-11"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 352 512"
          >
            <path
              fill="var(--primary-color)"
              d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
            ></path>
          </svg> </span
      ></span>
    </div>
    <div class="tb-ae-messagesContainer">
      <div
        class="tb-ae-helloMessage tb-ae-hide"
        style="--primary-color: #19194b; --primary-color-light: #19194b45"
      >
        Any questions?
      </div>
    </div>
    <div
      style="
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(204, 204, 204);
        box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 3px;
        position: absolute;
        transition: visibility 0s linear 0.3s, opacity 0.3s linear 0s;
        opacity: 0;
        visibility: hidden;
        z-index: 2000000000;
        left: 0px;
        top: -10000px;
      "
    >
      <div
        style="
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0px;
          left: 0px;
          z-index: 2000000000;
          background-color: rgb(255, 255, 255);
          opacity: 0.05;
        "
      ></div>
      <div
        style="
          border: 11px solid transparent;
          width: 0px;
          height: 0px;
          position: absolute;
          pointer-events: none;
          margin-top: -11px;
          z-index: 2000000000;
        "
        class="g-recaptcha-bubble-arrow"
      ></div>
      <div
        style="
          border: 10px solid transparent;
          width: 0px;
          height: 0px;
          position: absolute;
          pointer-events: none;
          margin-top: -10px;
          z-index: 2000000000;
        "
        class="g-recaptcha-bubble-arrow"
      ></div>
      <div style="z-index: 2000000000; position: relative">
        <iframe
          title="recaptcha challenge expires in two minutes"
          src="https://www.google.com/recaptcha/api2/bframe?hl=en&amp;v=1h-hbVSJRMOQsmO_2qL9cO0z&amp;k=6Leku1saAAAAALEHOIEqgs_JkTKEdeX2ckDxxP2c"
          style="width: 100%; height: 100%"
          name="c-xi3eykou10uz"
          scrolling="no"
          sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation"
          frameborder="0"
        ></iframe>
      </div>
    </div>
    <div id="onetrust-consent-sdk">
      <div class="onetrust-pc-dark-filter ot-hide ot-fade-in"></div>
      <div
        id="onetrust-pc-sdk"
        class="otPcCenter ot-hide ot-fade-in ot-sdk-not-webkit"
        aria-modal="true"
        role="dialog"
        aria-labelledby="ot-pc-title"
        lang="en"
      >
        <!-- Close Button -->
        <div class="ot-pc-header">
          <!-- Logo Tag -->
          <div
            class="ot-pc-logo"
            role="img"
            aria-label="Company Logo"
            style="
              background-image: url('https://cookie-cdn.cookiepro.com/logos/1602a5a4-17c5-4534-bd62-db58cb4d66f8/97043e4b-cacd-45d4-b0b8-6b0415934c30/df63c0df-806c-478b-b9ad-ff7402635431/apple-touch-icon-180x180.png');
              background-position: left;
            "
          ></div>
          <button
            id="close-pc-btn-handler"
            class="ot-close-icon"
            aria-label="Close"
          ></button>
        </div>
        <!-- Close Button -->
        <div id="ot-pc-content" class="ot-pc-scrollbar">
          <h3 id="ot-pc-title">Privacy Preference Center</h3>
          <div id="ot-pc-desc">
            When you visit any website, it may store or retrieve information on
            your browser, mostly in the form of cookies. This information might
            be about you, your preferences or your device and is mostly used to
            make the site work as you expect it to. The information does not
            usually directly identify you, but it can give you a more
            personalized web experience. Because we respect your right to
            privacy, you can choose not to allow some types of cookies. Click on
            the different category headings to find out more and change our
            default settings. However, blocking some types of cookies may impact
            your experience of the site and the services we are able to offer.
            <br /><a
              href="https://cookiepedia.co.uk/giving-consent-to-cookies"
              class="privacy-notice-link"
              rel="noopener"
              target="_blank"
              aria-label="More information about your privacy, opens in a new window"
              >More information</a
            >
          </div>
          <button id="accept-recommended-btn-handler">Allow All</button>
          <section class="ot-sdk-row ot-cat-grp">
            <h3 id="ot-category-title">Manage Consent Preferences</h3>
            <div
              class="ot-accordion-layout ot-cat-item"
              data-optanongroupid="C0001"
            >
              <button
                aria-expanded="false"
                ot-accordion="true"
                aria-controls="ot-desc-id-C0001"
                aria-labelledby="ot-header-id-C0001"
              ></button
              ><!-- Accordion header -->
              <div class="ot-acc-hdr ot-always-active-group">
                <div class="ot-plus-minus"><span></span><span></span></div>
                <h4 class="ot-cat-header" id="ot-header-id-C0001">
                  Strictly Necessary Cookies
                </h4>
                <div class="ot-always-active">Always Active</div>
              </div>
              <!-- accordion detail -->
              <div class="ot-acc-grpcntr ot-acc-txt">
                <p
                  class="ot-acc-grpdesc ot-category-desc"
                  id="ot-desc-id-C0001"
                >
                  These cookies are necessary for the website to function and
                  cannot be switched off in our systems. They are usually only
                  set in response to actions made by you which amount to a
                  request for services, such as setting your privacy
                  preferences, logging in or filling in forms. You can set your
                  browser to block or alert you about these cookies, but some
                  parts of the site will not then work. These cookies do not
                  store any personally identifiable information.
                </p>
              </div>
            </div>
            <div
              class="ot-accordion-layout ot-cat-item"
              data-optanongroupid="C0002"
            >
              <button
                aria-expanded="false"
                ot-accordion="true"
                aria-controls="ot-desc-id-C0002"
                aria-labelledby="ot-header-id-C0002"
              ></button
              ><!-- Accordion header -->
              <div class="ot-acc-hdr">
                <div class="ot-plus-minus"><span></span><span></span></div>
                <h4 class="ot-cat-header" id="ot-header-id-C0002">
                  Performance Cookies
                </h4>
                <div class="ot-tgl">
                  <input
                    type="checkbox"
                    name="ot-group-id-C0002"
                    id="ot-group-id-C0002"
                    aria-checked="false"
                    role="switch"
                    class="category-switch-handler"
                    data-optanongroupid="C0002"
                    aria-labelledby="ot-header-id-C0002"
                  />
                  <label class="ot-switch" for="ot-group-id-C0002"
                    ><span class="ot-switch-nob"></span>
                    <span class="ot-label-txt">Performance Cookies</span></label
                  >
                </div>
              </div>
              <!-- accordion detail -->
              <div class="ot-acc-grpcntr ot-acc-txt">
                <p
                  class="ot-acc-grpdesc ot-category-desc"
                  id="ot-desc-id-C0002"
                >
                  These cookies allow us to count visits and traffic sources so
                  we can measure and improve the performance of our site. They
                  help us to know which pages are the most and least popular and
                  see how visitors move around the site. All information these
                  cookies collect is aggregated and therefore anonymous. If you
                  do not allow these cookies we will not know when you have
                  visited our site, and will not be able to monitor its
                  performance.
                </p>
              </div>
            </div>
            <div
              class="ot-accordion-layout ot-cat-item"
              data-optanongroupid="C0003"
            >
              <button
                aria-expanded="false"
                ot-accordion="true"
                aria-controls="ot-desc-id-C0003"
                aria-labelledby="ot-header-id-C0003"
              ></button
              ><!-- Accordion header -->
              <div class="ot-acc-hdr">
                <div class="ot-plus-minus"><span></span><span></span></div>
                <h4 class="ot-cat-header" id="ot-header-id-C0003">
                  Functional Cookies
                </h4>
                <div class="ot-tgl">
                  <input
                    type="checkbox"
                    name="ot-group-id-C0003"
                    id="ot-group-id-C0003"
                    aria-checked="false"
                    role="switch"
                    class="category-switch-handler"
                    data-optanongroupid="C0003"
                    aria-labelledby="ot-header-id-C0003"
                  />
                  <label class="ot-switch" for="ot-group-id-C0003"
                    ><span class="ot-switch-nob"></span>
                    <span class="ot-label-txt">Functional Cookies</span></label
                  >
                </div>
              </div>
              <!-- accordion detail -->
              <div class="ot-acc-grpcntr ot-acc-txt">
                <p
                  class="ot-acc-grpdesc ot-category-desc"
                  id="ot-desc-id-C0003"
                >
                  These cookies enable the website to provide enhanced
                  functionality and personalisation. They may be set by us or by
                  third party providers whose services we have added to our
                  pages. If you do not allow these cookies then some or all of
                  these services may not function properly.
                </p>
              </div>
            </div>
            <div
              class="ot-accordion-layout ot-cat-item"
              data-optanongroupid="C0004"
            >
              <button
                aria-expanded="false"
                ot-accordion="true"
                aria-controls="ot-desc-id-C0004"
                aria-labelledby="ot-header-id-C0004"
              ></button
              ><!-- Accordion header -->
              <div class="ot-acc-hdr">
                <div class="ot-plus-minus"><span></span><span></span></div>
                <h4 class="ot-cat-header" id="ot-header-id-C0004">
                  Targeting Cookies
                </h4>
                <div class="ot-tgl">
                  <input
                    type="checkbox"
                    name="ot-group-id-C0004"
                    id="ot-group-id-C0004"
                    aria-checked="false"
                    role="switch"
                    class="category-switch-handler"
                    data-optanongroupid="C0004"
                    aria-labelledby="ot-header-id-C0004"
                  />
                  <label class="ot-switch" for="ot-group-id-C0004"
                    ><span class="ot-switch-nob"></span>
                    <span class="ot-label-txt">Targeting Cookies</span></label
                  >
                </div>
              </div>
              <!-- accordion detail -->
              <div class="ot-acc-grpcntr ot-acc-txt">
                <p
                  class="ot-acc-grpdesc ot-category-desc"
                  id="ot-desc-id-C0004"
                >
                  These cookies may be set through our site by our advertising
                  partners. They may be used by those companies to build a
                  profile of your interests and show you relevant adverts on
                  other sites. They do not store directly personal information,
                  but are based on uniquely identifying your browser and
                  internet device. If you do not allow these cookies, you will
                  experience less targeted advertising.
                </p>
              </div>
            </div>
            <div
              class="ot-accordion-layout ot-cat-item"
              data-optanongroupid="C0005"
            >
              <button
                aria-expanded="false"
                ot-accordion="true"
                aria-controls="ot-desc-id-C0005"
                aria-labelledby="ot-header-id-C0005"
              ></button
              ><!-- Accordion header -->
              <div class="ot-acc-hdr">
                <div class="ot-plus-minus"><span></span><span></span></div>
                <h4 class="ot-cat-header" id="ot-header-id-C0005">
                  Social Media Cookies
                </h4>
                <div class="ot-tgl">
                  <input
                    type="checkbox"
                    name="ot-group-id-C0005"
                    id="ot-group-id-C0005"
                    aria-checked="false"
                    role="switch"
                    class="category-switch-handler"
                    data-optanongroupid="C0005"
                    aria-labelledby="ot-header-id-C0005"
                  />
                  <label class="ot-switch" for="ot-group-id-C0005"
                    ><span class="ot-switch-nob"></span>
                    <span class="ot-label-txt"
                      >Social Media Cookies</span
                    ></label
                  >
                </div>
              </div>
              <!-- accordion detail -->
              <div class="ot-acc-grpcntr ot-acc-txt">
                <p
                  class="ot-acc-grpdesc ot-category-desc"
                  id="ot-desc-id-C0005"
                >
                  These cookies are set by a range of social media services that
                  we have added to the site to enable you to share our content
                  with your friends and networks. They are capable of tracking
                  your browser across other sites and building up a profile of
                  your interests. This may impact the content and messages you
                  see on other websites you visit. If you do not allow these
                  cookies you may not be able to use or see these sharing tools.
                </p>
              </div>
            </div>
            <!-- Groups sections starts --><!-- Group section ends --><!-- Accordion Group section starts --><!-- Accordion Group section ends -->
          </section>
        </div>
        <section id="ot-pc-lst" class="ot-hide ot-hosts-ui ot-pc-scrollbar">
          <div id="ot-pc-hdr">
            <h3 id="ot-lst-title">
              <button class="ot-link-btn back-btn-handler" aria-label="Back">
                <svg
                  id="ot-back-arw"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 0 444.531 444.531"
                  xml:space="preserve"
                >
                  <title>Back Button</title>
                  <g>
                    <path
                      fill="#656565"
                      d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835
                      l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425
                      c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564
                      s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978
                      L213.13,222.409z"
                    ></path>
                  </g>
                </svg>
              </button>
              <span>Performance Cookies</span>
            </h3>
            <div class="ot-lst-subhdr">
              <div class="ot-search-cntr">
                <p role="status" class="ot-scrn-rdr"></p>
                <label for="vendor-search-handler" class="ot-scrn-rdr"
                  >Vendor Search</label
                >
                <input
                  id="vendor-search-handler"
                  type="text"
                  placeholder="Search..."
                  name="vendor-search-handler"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  viewBox="0 -30 110 110"
                >
                  <title>Search Icon</title>
                  <path
                    fill="#2e3644"
                    d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23
              s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92
              c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17
              s-17-7.626-17-17S14.61,6,23.984,6z"
                  ></path>
                </svg>
              </div>
              <div class="ot-fltr-cntr">
                <button
                  id="filter-btn-handler"
                  aria-label="Filter"
                  aria-haspopup="true"
                >
                  <svg
                    role="presentation"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 402.577 402.577"
                    xml:space="preserve"
                  >
                    <title>Filter Icon</title>
                    <g>
                      <path
                        fill="#fff"
                        d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136
        c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083
        c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413
        C402.765,25.895,404.093,19.231,400.858,11.427z"
                      ></path>
                    </g>
                  </svg>
                </button>
              </div>
              <div id="ot-anchor"></div>
              <section id="ot-fltr-modal">
                <div id="ot-fltr-cnt">
                  <button id="clear-filters-handler">Clear</button>
                  <div class="ot-fltr-scrlcnt ot-pc-scrollbar">
                    <div class="ot-fltr-opts">
                      <div class="ot-fltr-opt">
                        <div class="ot-chkbox">
                          <input
                            id="chkbox-id"
                            type="checkbox"
                            aria-checked="false"
                            class="category-filter-handler"
                          />
                          <label for="chkbox-id"
                            ><span class="ot-label-txt"
                              >checkbox label</span
                            ></label
                          >
                          <span class="ot-label-status">label</span>
                        </div>
                      </div>
                    </div>
                    <div class="ot-fltr-btns">
                      <button id="filter-apply-handler">Apply</button>
                      <button id="filter-cancel-handler">Cancel</button>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <section id="ot-lst-cnt" class="ot-host-cnt ot-pc-scrollbar">
            <div id="ot-sel-blk">
              <div class="ot-sel-all">
                <div class="ot-sel-all-hdr">
                  <span class="ot-consent-hdr">Consent</span>
                  <span class="ot-li-hdr">Leg.Interest</span>
                </div>
                <div class="ot-sel-all-chkbox">
                  <div class="ot-chkbox" id="ot-selall-hostcntr">
                    <input
                      id="select-all-hosts-groups-handler"
                      type="checkbox"
                      aria-checked="false"
                    />
                    <label for="select-all-hosts-groups-handler"
                      ><span class="ot-label-txt">checkbox label</span></label
                    >
                    <span class="ot-label-status">label</span>
                  </div>
                  <div class="ot-chkbox" id="ot-selall-vencntr">
                    <input
                      id="select-all-vendor-groups-handler"
                      type="checkbox"
                      aria-checked="false"
                    />
                    <label for="select-all-vendor-groups-handler"
                      ><span class="ot-label-txt">checkbox label</span></label
                    >
                    <span class="ot-label-status">label</span>
                  </div>
                  <div class="ot-chkbox" id="ot-selall-licntr">
                    <input
                      id="select-all-vendor-leg-handler"
                      type="checkbox"
                      aria-checked="false"
                    />
                    <label for="select-all-vendor-leg-handler"
                      ><span class="ot-label-txt">checkbox label</span></label
                    >
                    <span class="ot-label-status">label</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="ot-sdk-row"><div class="ot-sdk-column"></div></div>
          </section>
        </section>
        <div class="ot-pc-footer">
          <div class="ot-btn-container">
            <button
              class="save-preference-btn-handler onetrust-close-btn-handler"
            >
              Confirm My Choices
            </button>
          </div>
          <!-- Footer logo -->
          <div class="ot-pc-footer-logo">
            <a
              href="https://www.cookiepro.com/products/cookie-consent/"
              target="_blank"
              rel="noopener noreferrer"
              style="
                background-image: url('https://cookie-cdn.cookiepro.com/logos/static/poweredBy_cp_logo.svg');
              "
              aria-label="Powered by OneTrust Opens in a new window"
            ></a>
          </div>
        </div>
        <!-- Cookie subgroup container --><!-- Vendor list link --><!-- Cookie lost link --><!-- Toggle HTML element --><!-- Checkbox HTML --><!-- plus minus--><!-- Arrow SVG element --><!-- Accordion basic element --><span
          class="ot-scrn-rdr"
          aria-atomic="true"
          aria-live="polite"
        ></span
        ><iframe
          class="ot-text-resize"
          title="onetrust-text-resize"
          style="position: absolute; top: -50000px; width: 100em"
          aria-hidden="true"
        ></iframe>
      </div>
    </div>
    <script type="text/javascript" id="">
      window.dataLayer = window.dataLayer || [];
      if (-1 < google_tag_manager["GTM-5NCVV2P"].macro(29).indexOf("_gp"))
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              currencyCode: "EUR",
              detail: { products: google_tag_manager["GTM-5NCVV2P"].macro(30) },
            },
          }),
          console.log("test view item");
      else if (-1 < google_tag_manager["GTM-5NCVV2P"].macro(31).indexOf("cart"))
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              currencyCode: "EUR",
              add: { products: google_tag_manager["GTM-5NCVV2P"].macro(32) },
            },
          }),
          console.log("test add to cart");
      else if (
        -1 < google_tag_manager["GTM-5NCVV2P"].macro(33).indexOf("checkout") &&
        -1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(34)
            .indexOf("order_information")
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              checkout: {
                actionField: { step: 1 },
                products: google_tag_manager["GTM-5NCVV2P"].macro(35),
              },
            },
          }),
          console.log("test order info step 1");
      else if (
        (-1 < google_tag_manager["GTM-5NCVV2P"].macro(36).indexOf("checkout") &&
          -1 <
            google_tag_manager["GTM-5NCVV2P"].macro(37).indexOf("payment")) ||
        (-1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(38)
            .indexOf("payment-order") &&
          -1 < google_tag_manager["GTM-5NCVV2P"].macro(39).indexOf("payment"))
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              checkout: {
                actionField: { step: 2 },
                products: google_tag_manager["GTM-5NCVV2P"].macro(40),
              },
            },
          }),
          console.log("test payment step 2");
      else if (
        (-1 < google_tag_manager["GTM-5NCVV2P"].macro(41).indexOf("checkout") &&
          -1 <
            google_tag_manager["GTM-5NCVV2P"].macro(42).indexOf("complete")) ||
        (-1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(43)
            .indexOf("get-order-split-payment") &&
          -1 < google_tag_manager["GTM-5NCVV2P"].macro(44).indexOf("complete"))
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              purchase: {
                actionField: {
                  id: "undefined",
                  revenue: google_tag_manager["GTM-5NCVV2P"].macro(45),
                },
                products: google_tag_manager["GTM-5NCVV2P"].macro(46),
              },
            },
          }),
          console.log("test purchase undefined");
    </script>
    <script type="text/javascript" id="">
      window.dataLayer = window.dataLayer || [];
      if (-1 < google_tag_manager["GTM-5NCVV2P"].macro(48).indexOf("_gp"))
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              currencyCode: "EUR",
              detail: { products: google_tag_manager["GTM-5NCVV2P"].macro(49) },
            },
          }),
          console.log("test view item");
      else if (-1 < google_tag_manager["GTM-5NCVV2P"].macro(50).indexOf("cart"))
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              currencyCode: "EUR",
              add: { products: google_tag_manager["GTM-5NCVV2P"].macro(51) },
            },
          }),
          console.log("test add to cart");
      else if (
        -1 < google_tag_manager["GTM-5NCVV2P"].macro(52).indexOf("checkout") &&
        -1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(53)
            .indexOf("order_information")
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              checkout: {
                actionField: { step: 1 },
                products: google_tag_manager["GTM-5NCVV2P"].macro(54),
              },
            },
          }),
          console.log("test order info step 1");
      else if (
        (-1 < google_tag_manager["GTM-5NCVV2P"].macro(55).indexOf("checkout") &&
          -1 <
            google_tag_manager["GTM-5NCVV2P"].macro(56).indexOf("payment")) ||
        (-1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(57)
            .indexOf("payment-order") &&
          -1 < google_tag_manager["GTM-5NCVV2P"].macro(58).indexOf("payment"))
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              checkout: {
                actionField: { step: 2 },
                products: google_tag_manager["GTM-5NCVV2P"].macro(59),
              },
            },
          }),
          console.log("test payment step 2");
      else if (
        (-1 < google_tag_manager["GTM-5NCVV2P"].macro(60).indexOf("checkout") &&
          -1 <
            google_tag_manager["GTM-5NCVV2P"].macro(61).indexOf("complete")) ||
        (-1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(62)
            .indexOf("get-order-split-payment") &&
          -1 < google_tag_manager["GTM-5NCVV2P"].macro(63).indexOf("complete"))
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              purchase: {
                actionField: {
                  id: "undefined",
                  revenue: google_tag_manager["GTM-5NCVV2P"].macro(64),
                },
                products: google_tag_manager["GTM-5NCVV2P"].macro(65),
              },
            },
          }),
          console.log("test purchase undefined");
    </script>
    <script type="text/javascript" id="">
      window.dataLayer = window.dataLayer || [];
      if (-1 < google_tag_manager["GTM-5NCVV2P"].macro(67).indexOf("_gp"))
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              currencyCode: "EUR",
              detail: { products: google_tag_manager["GTM-5NCVV2P"].macro(68) },
            },
          }),
          console.log("test view item");
      else if (-1 < google_tag_manager["GTM-5NCVV2P"].macro(69).indexOf("cart"))
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              currencyCode: "EUR",
              add: { products: google_tag_manager["GTM-5NCVV2P"].macro(70) },
            },
          }),
          console.log("test add to cart");
      else if (
        -1 < google_tag_manager["GTM-5NCVV2P"].macro(71).indexOf("checkout") &&
        -1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(72)
            .indexOf("order_information")
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              checkout: {
                actionField: { step: 1 },
                products: google_tag_manager["GTM-5NCVV2P"].macro(73),
              },
            },
          }),
          console.log("test order info step 1");
      else if (
        (-1 < google_tag_manager["GTM-5NCVV2P"].macro(74).indexOf("checkout") &&
          -1 <
            google_tag_manager["GTM-5NCVV2P"].macro(75).indexOf("payment")) ||
        (-1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(76)
            .indexOf("payment-order") &&
          -1 < google_tag_manager["GTM-5NCVV2P"].macro(77).indexOf("payment"))
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              checkout: {
                actionField: { step: 2 },
                products: google_tag_manager["GTM-5NCVV2P"].macro(78),
              },
            },
          }),
          console.log("test payment step 2");
      else if (
        (-1 < google_tag_manager["GTM-5NCVV2P"].macro(79).indexOf("checkout") &&
          -1 <
            google_tag_manager["GTM-5NCVV2P"].macro(80).indexOf("complete")) ||
        (-1 <
          google_tag_manager["GTM-5NCVV2P"]
            .macro(81)
            .indexOf("get-order-split-payment") &&
          -1 < google_tag_manager["GTM-5NCVV2P"].macro(82).indexOf("complete"))
      )
        window.dataLayer.push({ ecommerce: null }),
          window.dataLayer.push({
            ecommerce: {
              purchase: {
                actionField: {
                  id: "undefined",
                  revenue: google_tag_manager["GTM-5NCVV2P"].macro(83),
                },
                products: google_tag_manager["GTM-5NCVV2P"].macro(84),
              },
            },
          }),
          console.log("test purchase undefined");
    </script>
  </body>
</html>
