{% extends "base.html" %}

{% load static %}

{% block title %}argentina{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
    <div id="main" class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left clearfix">
        <main
          class="main-content col order-last"
          id="content"
          role="main"
        >
          <section class="section">
            <a id="main-content" tabindex="-1"></a>
            <div
              id="block-wrc8-page-title"
              class="block block-core block-page-title-block"
            >
              <div class="content">
                <h1 class="title">
                  <span
                    property="schema:name"
                    class="field field--name-title field--type-string field--label-hidden"
                    >ARGENTINA</span
                  >
                </h1>
              </div>
            </div>
            <div
              id="block-wrc8-content"
              class="block block-system block-system-main-block"
            >
              <div class="content">
                <article
                  role="article"
                  about="/en/argentina"
                  typeof="schema:WebPage"
                  class="node node--type-page node--view-mode-full clearfix"
                >
                  <header>
                    <span
                      property="schema:name"
                      content="ARGENTINA"
                      class="rdf-meta hidden"
                    ></span>
                  </header>
                  <div class="node__content clearfix">
                    <div
                      property="schema:text"
                      class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                    >
                      <p></p>

                      <p>
                        <img
                          alt="team-pack-arg"
                          data-align="center"
                          data-entity-type="file"
                          data-entity-uuid="c5fca63e-2d8e-4f6a-9ddb-af5585f90f8d"
                          height="auto"
                          src="{% static 'images/teampack_1440x520_arg.png' %}"
                          width="100%"
                          loading="lazy"
                        />
                      </p>

                      <p></p>

                      <p></p>

                      <div class="col_ww2">
                        <img
                          alt="calendrier_en_arg"
                          data-align="center"
                          data-entity-type="file"
                          data-entity-uuid="f777a605-f86b-43a8-8f1c-c649ad0faf81"
                          src="{% static 'images/argentine-calendrier-uk-avril2023.png' %}"
                          width="1080"
                          height="1080"
                          loading="lazy"
                        />
                        <p></p>
                      </div>

                      <div class="col_ww2">
                        <h2>ARGENTINA INTRODUCTION</h2>

                        <p>
                          From Juan Martín Hernández to Facundo Isa,
                          passing by Ignacio Corleto, Rodrigo Roncero
                          and Patricio Albacete, rugby relations between
                          Argentina and France have always been great.
                          And the Pumas have fond memories of France,
                          too. At Rugby World Cup 2007, Agustín Pichot
                          and his teammates made a statement, notably
                          beating France in the opening match. It was an
                          epic journey that culminated in a magnificent
                          bronze medal and remains Argentina's best
                          performance in the tournament to this day.
                        </p>

                        <p>
                          Now led by Michael Cheika – another famous
                          “Franco-Argentinian”, with a passage at
                          Castres Olympic – the Pumas will again want to
                          make their mark on Rugby World Cup 2023 and
                          avenge elimination in the pool phase two years
                          ago in Japan.
                        </p>

                        <p>
                          With the likes of Nicolás Sánchez (RWC 2015’s
                          top scorer), winger Emiliano Boffelli and
                          Tomás Lavanini on board, Argentina, driven by
                          their historic victories over New Zealand in
                          2020 and 2022, will be among the most feared
                          nations competing in France, and their
                          fixtures against England and Japan promise to
                          be spectacular.
                        </p>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
            <span
              data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"
            ></span>
          </section>
        </main>
      </div>
    </div>
  </div>
{% endblock %}