{% extends "base.html" %}

{% load static %}

{% block title %}australia{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main
        class="main-content col order-last"
        id="content"
        role="main"
      >
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div
            id="block-wrc8-page-title"
            class="block block-core block-page-title-block"
          >
            <div class="content">
              <h1 class="title">
                <span
                  property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden"
                  >AUSTRALIA</span
                >
              </h1>
            </div>
          </div>
          <div
            id="block-wrc8-content"
            class="block block-system block-system-main-block"
          >
            <div class="content">
              <article
                role="article"
                about="/en/australia"
                typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix"
              >
                <header>
                  <span
                    property="schema:name"
                    content="AUSTRALIA"
                    class="rdf-meta hidden"
                  ></span>
                </header>
                <div class="node__content clearfix">
                  <div
                    property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                  >
                    <p></p>

                    <p>
                      <img
                        alt="team-pack-aus"
                        data-align="center"
                        data-entity-type="file"
                        data-entity-uuid="6ab6150d-6243-4c8d-beb5-300f336e633b"
                        height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/F0SM0fYiwZ7YYpF1NhqsiXibKq3iCKEvkN7uoF-xn-c/1614352503/public/inline-images/teampack_1440x520_aus.png"
                        width="100%"
                        loading="lazy"
                      />
                    </p>

                    <p></p>

                    <div class="col_ww2">
                      <img
                        alt="calendrier_en_aus"
                        data-align="center"
                        data-entity-type="file"
                        data-entity-uuid="514ce21f-e88b-4438-a238-418102d36b3d"
                        src="https://static-rwc.as2.io/cdn/ff/GwhUz3IsYSgXLwEmp6vjk13qGf2v2A-rsHs5xByAHOk/1669215055/public/inline-images/australia_1080x1080_uk_0.png"
                        width="1080"
                        height="1080"
                        loading="lazy"
                      />
                    </div>

                    <div class="col_ww2">
                      <br />
                      <br />
                      <br />

                      <h2>AUSTRALIA INTRODUCTION</h2>

                      <p>
                        Co-hosts of the first Rugby World Cup in 1987
                        and champions four years later, Australia are
                        synonymous with milestones in Rugby World Cup
                        history. So, too, are the team’s former stars:
                        Nick Farr-Jones, David Campese, John Eales,
                        Michael Lynagh George Gregan, Matt Giteau,
                        Drew Mitchell – we could go on.
                      </p>

                      <p>
                        Two-time winners of the Webb Ellis Cup, in
                        1991 and 1999, the Wallabies will hope to
                        dominate once more in 2023, with a potential
                        line-up including captain Michael Hooper,
                        centre Jordan Petaia, one of the breakout
                        stars of Rugby World Cup 2019, and the mighty
                        Taniela Tupou, nicknamed "the Tongan Thor" for
                        good reason.
                      </p>

                      <p>
                        What will Australia’s meetings with Wales and
                        Fiji bring this time? Both teams shared a pool
                        with Australia in 2015 and 2019 so there will
                        be scores to settle at Rugby World Cup 2023.
                        Australia coach Dave Rennie's men will
                        certainly be looking to improve on their last
                        tournament outing in France in 2007, which
                        ended with a narrow quarter-final defeat to
                        England in Marseille.
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"
          ></span>
        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}