{% extends "base.html" %}

{% load static %}

{% block title %}chile{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">CHILE</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/chile" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="CHILE" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="presentation-equipe-chili" data-align="center" data-entity-type="file"
                        data-entity-uuid="adc93910-fc7b-46ae-993a-37d7b35c19e0" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/ZczHJ6Dpp9g6-rnYqe3CpGdL7fED-UWqhER8HRUin9g/1658311212/public/inline-images/teampack_1440x520_chili_0.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier en chile" data-align="center" data-entity-type="file"
                        data-entity-uuid="c8837e9f-1182-4e6b-9348-41d8300d8f27"
                        src="https://static-rwc.as2.io/cdn/ff/clpeXaKTcGNDn3GbHKCzGvqQmZte13uU5NW1dmst35g/1658311361/public/inline-images/chili-team-graphics-uk.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2"><br />
                      <br />
                      <br />

                      <h2>CHILE INTRODUCTION</h2>

                      <p>History-makers! Chile will make their Rugby World Cup debut at France 2023 after qualifying as
                        Americas 2. Los Cóndores created history by recovering from 19-0 down in the second leg in
                        Glendale, Colorado, to beat USA 31-29 and secure qualification for RWC 2023 with a 52-51
                        aggregate win.</p>

                      <p>Chile had already beaten Canada earlier in the Americas process, triumphing 54-46 on aggregate
                        to end the North American side’s ever-present record on the Rugby World Cup stage.</p>

                      <p>Led by captain Martin Sigren and with such exciting backs as fly-half Rodrigo Fernandez and
                        winger Santiago Videla – who kicked the winning penalty in Glendale – in their ranks, Chile have
                        made great process under coach Pablo Lemoine, who both played for and coached Uruguay at a Rugby
                        World Cup.</p>

                      <p>Los Cóndores take their place in Pool D and will play England, Japan and Samoa for the first
                        time as well as face Argentina in the first all-South American match in Rugby World Cup history.
                      </p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}