{% extends "base.html" %}

{% load static %}

{% block title %}england{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">ENGLAND</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/england" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="ENGLAND" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-pack-eng" data-align="center" data-entity-type="file"
                        data-entity-uuid="8170507d-8204-42b3-ad15-fb47aa3ab633" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/GxBh_S4JJLs8cSQzszMBL70jP8G43L63tNoo_DNO1D8/1641571132/public/inline-images/teampack_1440x520_eng_0.svg"
                        width="100%" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_eng" data-align="center" data-entity-type="file"
                        data-entity-uuid="4d2de5f3-47bf-4e2f-84e4-7fba6a6c776e"
                        src="https://static-rwc.as2.io/cdn/ff/FKgi4rdPVIy-10kh9ZZL0sDr1BnZoRVJDGg7tU7xqsQ/1681894409/public/inline-images/england-calendrier-uk-avril2023.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>ENGLAND INTRODUCTION</h2>

                      <p>What a comeback! Four years after England were knocked out in the pool phase as hosts of Rugby
                        World Cup 2015, the team were able to rebuild to reach the final of the 2019 edition, dominating
                        New Zealand in the semi-final (19-7) along the way.</p>

                      <p>In France in 2023, England will want to go one better and demonstrate that they can prevail
                        once more. England will be able to rely on a talented generation which shone in Japan, including
                        captain Owen Farrell, Maro Itoje, and Tom Curry, a real revelation of the tournament in the
                        back-row.</p>

                      <p>England will be keen to walk in the footsteps of the likes of Martin Johnson, Jason Robinson
                        and Lawrence Dallaglio, who helped England become world champions in Australia in 2003 after an
                        unforgettable drop goal from fly-half Jonny Wilkinson in the final minute of extra-time. To
                        date, England remain the only nation from the northern hemisphere to lift the Webb Ellis Cup.
                        Can they do so once more, two decades on?</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}