{% extends "base.html" %}

{% load static %}

{% block title %}fiji{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main
        class="main-content col order-last"
        id="content"
        role="main"
      >
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div
            id="block-wrc8-page-title"
            class="block block-core block-page-title-block"
          >
            <div class="content">
              <h1 class="title">
                <span
                  property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden"
                  >FIJI</span
                >
              </h1>
            </div>
          </div>
          <div
            id="block-wrc8-content"
            class="block block-system block-system-main-block"
          >
            <div class="content">
              <article
                role="article"
                about="/en/fiji"
                typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix"
              >
                <header>
                  <span
                    property="schema:name"
                    content="FIJI"
                    class="rdf-meta hidden"
                  ></span>
                </header>
                <div class="node__content clearfix">
                  <div
                    property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                  >
                    <p></p>

                    <p>
                      <img
                        alt="team-pack-fiji"
                        data-align="center"
                        data-entity-type="file"
                        data-entity-uuid="2a84bd7b-7412-423d-9277-b65c86f59bf8"
                        height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/EWuwUoLLa2GMShDhPs4VQ7SrfO1-qEgM1dgRapVNl6Y/1614352553/public/inline-images/teampack_1440x520_fiji.png"
                        width="100%"
                        loading="lazy"
                      />
                    </p>

                    <p></p>

                    <div class="col_ww2">
                      <img
                        alt="calendrier_en_fij"
                        data-align="center"
                        data-entity-type="file"
                        data-entity-uuid="7515f87c-8d7c-4aac-9bf1-07709eb09341"
                        src="https://static-rwc.as2.io/cdn/ff/xxWk-xNVUTCxQPr4Rrvyt-CqdWS1UtFktWy0P8up3BU/1669215542/public/inline-images/fiji_1080x1080_uk_0.png"
                        width="1080"
                        height="1080"
                        loading="lazy"
                      />
                    </div>

                    <div class="col_ww2">
                      <br />
                      <br />
                      <br />

                      <h2>FIJI INTRODUCTION</h2>

                      <p class="title_1">
                        Win or lose, Fiji always live up to their name
                        at Rugby World Cup! Who could forget their
                        sensational victory in 2007 over Wales in
                        Nantes (38-34), which allowed the Pacific
                        Islanders to reach the quarter-finals? Or
                        their shock defeat to Uruguay (30-27) in their
                        second match at Rugby World Cup 2019, one of
                        the biggest upsets in the history of the
                        tournament?
                      </p>

                      <p class="title_1">
                        In both cases, this much is true: the
                        spectacular game implemented by Fiji, a clever
                        mix of power, speed, skill and agility with
                        the ball in hand, is a pleasure to watch. And
                        another show is guaranteed in France when the
                        Flying Fijians return, this time with a
                        talented pool of players to draw from
                        including Levani Botia, Semi Radradra and
                        Josua Tuisova, one of the most fearsome
                        attacking line-ups in the world.
                      </p>

                      <p class="title_1">
                        As they meet Australia and Wales for the third
                        time in a row, the Fijians will look forward
                        to showcasing their immense talent at Rugby
                        World Cup 2023 – so do we.
                      </p>
                    </div>

                    <p></p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"
          ></span>
        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}