{% extends "base.html" %}

{% load static %}

{% block title %}georgia{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main
        class="main-content col order-last"
        id="content"
        role="main"
      >
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div
            id="block-wrc8-page-title"
            class="block block-core block-page-title-block"
          >
            <div class="content">
              <h1 class="title">
                <span
                  property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden"
                  >GEORGIA</span
                >
              </h1>
            </div>
          </div>
          <div
            id="block-wrc8-content"
            class="block block-system block-system-main-block"
          >
            <div class="content">
              <article
                role="article"
                about="/en/georgia"
                typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix"
              >
                <header>
                  <span
                    property="schema:name"
                    content="GEORGIA"
                    class="rdf-meta hidden"
                  ></span>
                </header>
                <div class="node__content clearfix">
                  <div
                    property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                  >
                    <p></p>

                    <p>
                      <img
                        alt="presentation-equipe-georgie"
                        data-align="center"
                        data-entity-type="file"
                        data-entity-uuid="9ecb9af7-af94-4539-9a29-798a09503ec4"
                        height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/pa8KJPd2n5ozzRXgstbXXcWhelQrL98Q6DHR0WHhh4E/1645525979/public/inline-images/teampack_1440x520_geo.png"
                        width="100%"
                        loading="lazy"
                      />
                    </p>

                    <p></p>

                    <div class="col_ww2">
                      <img
                        alt="calendrier_uk_georgia"
                        data-align="center"
                        data-entity-type="file"
                        data-entity-uuid="f863afae-6761-490b-95f0-67ed6489dc31"
                        src="https://static-rwc.as2.io/cdn/ff/so00ZSArq7dj8HHbWWvAWTXH_-SOo_mpWtNqAUxKnw0/1669215505/public/inline-images/georgie_1080x1080_uk.png"
                        width="1080"
                        height="1080"
                        loading="lazy"
                      />
                    </div>

                    <div class="col_ww2">
                      <br />
                      <br />
                      <br />

                      <h2>GEORGIA INTRODUCTION</h2>

                      <p>
                        Georgia will play in a sixth consecutive Rugby
                        World Cup at France 2023 after finishing above
                        the Netherlands, Portugal, Romania, Russia and
                        Spain in the Rugby Europe Championship across
                        2021 and 2022.
                      </p>

                      <p>
                        The <em>Lelos</em>, who have won nine of the
                        last 10 titles in the Rugby Europe
                        Championship or its equivalent, are not a side
                        to underestimate on the world stage as their
                        performance at Rugby World Cup 2015 showed.
                        Georgia finished third in their pool in
                        England – their best performance in a Rugby
                        World Cup – with then captain Mamuka Gorgodze,
                        their record try-scorer, named Player of the
                        Match against New Zealand.
                      </p>

                      <p>
                        Georgia have unveiled some exciting youngsters
                        over the last eight years, including
                        scrum-half Vasil Lobzhandize who became the
                        youngest player in RWC history in 2015. At
                        Japan 2019, two rising stars made their debut
                        in hooker Vano Karkadze, the youngest player
                        in the tournament, and fly-half Tedo
                        Abzhandadze only months after playing in the
                        World Rugby U20 Championship. Come France
                        2023, the promising full-back Davit
                        Niniashvili could be the next player to make a
                        lasting impression for the Lelos.
                      </p>

                      <p>
                        Georgia have long been renowned for their
                        forwards, but are now developing an exciting
                        backline that means they will surely be a team
                        to watch closely during Rugby World Cup France
                        2023.
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"
          ></span>
        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}