{% extends "base.html" %}

{% load static %}

{% block title %}ireland{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main
        class="main-content col order-last"
        id="content"
        role="main"
      >
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div
            id="block-wrc8-page-title"
            class="block block-core block-page-title-block"
          >
            <div class="content">
              <h1 class="title">
                <span
                  property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden"
                  >IRELAND
                </span>
              </h1>
            </div>
          </div>
          <div
            id="block-wrc8-content"
            class="block block-system block-system-main-block"
          >
            <div class="content">
              <article
                role="article"
                about="/en/ireland"
                typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix"
              >
                <header>
                  <span
                    property="schema:name"
                    content="IRELAND "
                    class="rdf-meta hidden"
                  ></span>
                </header>
                <div class="node__content clearfix">
                  <div
                    property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                  >
                    <p></p>

                    <p>
                      <img
                        alt="team-pack-irl"
                        data-align="center"
                        data-entity-type="file"
                        data-entity-uuid="a4fe8cf5-25af-4f7f-9ea5-8f78b9985ea0"
                        height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/2A6gvNhyqPmqBHg0OO_d4OhiVdwi10rZOg2lN7pKU54/1614352579/public/inline-images/teampack_1440x520_irl.png"
                        width="100%"
                        loading="lazy"
                      />
                    </p>

                    <p></p>

                    <p></p>

                    <div class="col_ww2">
                      <img
                        alt="calendrier_en_irl"
                        data-align="center"
                        data-entity-type="file"
                        data-entity-uuid="32712557-a96b-4fa0-bfe5-a579e5696b0f"
                        src="https://static-rwc.as2.io/cdn/ff/It-0tbiirLo2TAwq4E1mTo6MOqBQRMulsPng1qBIb38/1659713651/public/inline-images/ireland-team-graphics-uk.png"
                        width="1080"
                        height="1080"
                        loading="lazy"
                      />
                    </div>

                    <div class="col_ww2">
                      <h2>IRELAND INTRODUCTION</h2>

                      <p>
                        As a powerhouse in international rugby,
                        Ireland are out to tick off another
                        achievement on their to-do list at Rugby World
                        Cup 2023, and reach the semi-finals of the
                        tournament for the first time in history.
                      </p>

                      <p>
                        Though led by exceptional players over the
                        decades – from Keith Wood to Brian O'Driscoll,
                        Ronan O'Gara to Paul O'Connell – Ireland have
                        never managed to progress beyond the
                        quarter-finals, which they have reached seven
                        times (1987, 1991, 1995, 2003, 2011, 2015,
                        2019).
                      </p>

                      <p>
                        The French campaign will therefore be quite a
                        challenge for the men under head coach Andy
                        Farrell, who will face South Africa, the
                        defending champions, in their opening match.
                        This encounter, one that has never been played
                        before at Rugby World Cup, promises a fierce
                        battle between two teams renowned for their
                        fighting spirit.
                      </p>

                      <p>
                        After a Six Nations Grand Slam in 2018,
                        topping their pool at RWC 2011 (ahead of
                        Australia) and RWC 2015 (ahead of France),
                        Ireland are no strangers to success at the
                        highest level. Talents like Johnny Sexton,
                        Josh van der Flier, Tadhg Furlong, and others,
                        supported by their fervent supporters, will
                        all be sure to respond to Ireland's Call in
                        2023.
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"
          ></span>
        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}