{% extends "base.html" %}

{% load static %}

{% block title %}Italy{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">ITALY </span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/Italy" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="ITALY " class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-pack-ita" data-align="center" data-entity-type="file"
                        data-entity-uuid="b2fe1781-6ece-4f9a-91b0-3695edb9bc59" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/caJdeKJBo05e7zrD-DMK-Fl_UzFlj68wd2tR5FnUigA/1614352613/public/inline-images/teampack_1440x520_ita.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_ita" data-align="center" data-entity-type="file"
                        data-entity-uuid="cde2c5f1-287c-4e0b-8bb2-e5d89eeaca84"
                        src="https://static-rwc.as2.io/cdn/ff/XSBZOjQ4S4JHnj00bL--oUvjq_m9ANX6rL6i5w6J_8Q/1658312210/public/inline-images/italy-team-graphics-uk.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>ITALY INTRODUCTION</h2>

                      <p>Since playing the very first match in the history of the tournament – in 1987 against New
                        Zealand – Italy have never missed a Rugby World Cup.</p>

                      <p>Between winger Marcello Cuttitta, their all-time top try-scorer(25, including six at Rugby
                        World Cup), fly-half Diego Dominguez, Italy’s top point-scorer of all time (983), the brilliant
                        Alessandro Troncon at nine, and the iconic back-row Sergio Parisse, their most capped with 142
                        appearances to date, Italy’s RWC history has been told by the colourful characters in its past.
                      </p>

                      <p>In France in 2023, Italy will be playing at a 10th Rugby World Cup and will be looking to make
                        the quarter-finals for the first time.</p>

                      <p>Finishing third in their pool in the last five editions, Italy will be looking to upset the
                        odds and reach the knockout stages. To do that they will surely have to overcome either New
                        Zealand or France, Uruguay and Namibia. Italy’s key players, including the likes of Paolo
                        Garbisi, Ange Capuozzo and Stephen Varney in a youthful squad led by captain Michele Lamaro,
                        will have to play some of the nation’s best-ever rugby on the game’s biggest stage to achieve
                        that.</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}