{% extends "base.html" %}

{% load static %}

{% block title %}japan{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">JAPAN</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/japan" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="JAPAN" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-pack-jpn" data-align="center" data-entity-type="file"
                        data-entity-uuid="f1275928-e021-469c-bc87-21989464bb06" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/0Yyx0GU63hA_cQhvAEINL2I3jiO5jCJQ__CYKjvHK3k/1614352640/public/inline-images/teampack_1440x520_jp.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_jap" data-align="center" data-entity-type="file"
                        data-entity-uuid="47c40fba-b328-45ec-88a6-80677ec8fcae"
                        src="https://static-rwc.as2.io/cdn/ff/5PfFQy5Acwtan8_DkB1kQYx-KvJqdT-P_4yNqOr2ERM/1658312761/public/inline-images/japan-team-graphics-uk.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>JAPAN INTRODUCTION</h2>

                      <p>Japan was the surprise package of Rugby World Cup 2019. In their own backyard, in front of
                        captivated home support, they amazed rugby fans worldwide with a fast-paced attacking game that
                        produced two landmark victories over Ireland and Scotland, as well as an historic qualification
                        for the quarter-finals of the tournament. For the first time in history, an Asian team reached
                        the knockout stages of a Rugby World Cup.</p>

                      <p>A breath of fresh air blew over the world of rugby with Japan, who had already produced a
                        massive performance in 2015 by beating two-time world champions South Africa 34-32 in a match
                        that will live long in rugby folklore as the "Miracle of Brighton". Four years later, the Brave
                        Blossoms showed this feat was no one-off by beating Ireland and Scotland. In iconic captain
                        Michael Leitch, the powerful Kazuki Himeno, and the skillful Kotaro Matsushima, Japan’s emerging
                        world stars cemented their status in the test rugby arena.</p>

                      <p>The question is whether Japan can repeat these sensational performances during Rugby World Cup
                        2023 in a pool containing 2019 finalists England and the ever-dangerous Argentina?</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}