{% extends "base.html" %}

{% load static %}

{% block title %}namibia{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">NAMIBIA</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/namibia" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="NAMIBIA" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="presentation-equipe-namibie" data-align="center" data-entity-type="file"
                        data-entity-uuid="ee310fb2-218b-4fa2-a327-c00652b127eb" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/kXOL4UyAz2UEEfInkK5fcNPgt58KhJjKKyEthAH0Bfk/1658311677/public/inline-images/teampack_1440x520_namibie_0.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier en namibie" data-align="center" data-entity-type="file"
                        data-entity-uuid="fdc5b02e-6d34-445e-ba7b-f706dd26dbd8"
                        src="https://static-rwc.as2.io/cdn/ff/5B72W1Gfh-7ZKgbsUgKs8snrYEBbQxifXdttZNRyHwI/1681896676/public/inline-images/namibie-team-graphics-uk_0.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2"><br />
                      <br />
                      <br />

                      <h2>NAMIBIA INTRODUCTION</h2>

                      <p>After winning Rugby Africa Cup 2022, Namibia, led by its captain Johan Deysel, has obtained its
                        qualifying ticket for a 7th Rugby World Cup participation in a row.</p>

                      <p>Beside triple-world-champion South Africa, Namibia is the best African team in terms of Rugby
                        World Cup participations: they've been a part of the competition since 1999.</p>

                      <p>Following their flanker Wian Conradie, who scored three tries against Kenya during Rugby Africa
                        Cup 2022 final (36-0) and their young scorers Cliven Lobster (25 years-old) and Pieter Willem
                        Steemkamp (24 years old), the Welwitschias will put their hearts into winning a first victory in
                        Rugby World Cup, as part of a competitive Pool A (France, New Zealand, Italy and Uruguay)!</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}