{% extends "base.html" %}

{% load static %}

{% block title %}teamfrance{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">NEW ZEALAND</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/new_zealand" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="NEW ZEALAND" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-pack-nz" data-align="center" data-entity-type="file"
                        data-entity-uuid="99aeab81-d274-49ae-ac1a-a1a6bfa0d95b" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/1TOrQWipzZtCtYjkcdlQQAzr-pWFCflYwqt4RH78aDA/1614354899/public/inline-images/teampack_1440x520_nz_0.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_nz" data-align="center" data-entity-type="file"
                        data-entity-uuid="c63546b6-1195-4aa2-8028-5068ee0dc076"
                        src="https://static-rwc.as2.io/cdn/ff/sp5uqnfllEnTOJAbmKU4gkedpJO1hiLFh45VLppoL5Y/1658312340/public/inline-images/nz-team-graphics-uk.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>NEW ZEALAND INTRODUCTION</h2>

                      <p>New Zealand needs no introduction. The three-time winners of the Webb Ellis Cup (1987, 2011,
                        2015) will once again be among the favourites at Rugby World Cup 2023.</p>

                      <p>The most dominant team in the history of world rugby, New Zealand has forged much of their
                        glorious reputation at Rugby World Cup. They are known the world over for their haka and, of
                        course, their legendary players: Grant Fox, Andrew Mehrtens, Tana Umaga, Dan Carter, Richie
                        McCaw and the unstoppable Jonah Lomu, the joint top try scorer (15) in Rugby World Cup history,
                        to name just a few.</p>

                      <p>During Rugby World Cup 2019 in Japan, New Zealand finished an eventual third with a changing of
                        the guard, with Sam Cane, Beauden Barrett and Brodie Retallick forming the spine of a new-look
                        squad. In the land of the long white cloud, all eyes are now on the next edition, where New
                        Zealand will face Italy, hosts France, Uruguay and Namibia.</p>

                      <p>"Having France in our pool is going to be special," said head coach Ian Foster after the draw.
                        Will the All Blacks, who have never lost a pool match, continue their impressive streak in 2023?
                      </p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}