{% extends "base.html" %}

{% load static %}

{% block title %}portugal{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">PORTUGAL</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/portugal" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="PORTUGAL" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-Portugal" data-align="center" data-entity-type="file"
                        data-entity-uuid="7e5d66be-d77e-44e0-8897-1216a7e4ace6" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/hdCDt27SEspz-C0uAOjQNKiUkEaKGkUnPUOOdBZyDP8/1669214738/public/inline-images/teampack_1440x520_por.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_Portugal" data-align="center" data-entity-type="file"
                        data-entity-uuid="69449fb0-1dec-417b-aa74-85c000df9e05"
                        src="https://static-rwc.as2.io/cdn/ff/QZBdcuPDw0B9P-NTHkA3bC-D73YKdEyZXEk5UsUFde0/1669214817/public/inline-images/portugal_1080x1080_uk.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2"><br /><br />
                      <h2>PORTUGAL INTRODUCTION</h2>

                      <p>After making their debut in 2007, Portugal will return to France for Rugby World Cup 2023.</p>

                      <p>Applauded for their attacking style of play, Os Lobos secured the last qualifying place for RWC
                        2023 after back-to-back victories against Hong Kong (42-14) and Kenya (85-0), and a tense 16-16
                        draw with the USA at the RWC 2023 Final Qualification Tournament in Dubai.</p>

                      <p>Led by captain Tomás Appleton, Portugal became the ninth European nation to qualify for Rugby
                        World Cup 2023. As they face Wales, Australia, Fiji and Georgia in Pool C, the team will count
                        on the French experience of many of their players – including Samuel Marques, Mike Tadjer and
                        star Raffaele Storti – as well as their French head coach Patrice Lagisquet, a Rugby World Cup
                        finalist with Les Bleus in 1987.</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}