{% extends "base.html" %}

{% load static %}

{% block title %}romania{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">ROMANIA</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/romania" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="ROMANIA" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="presentation-equipe-roumanie" data-align="center" data-entity-type="file"
                        data-entity-uuid="7bb33333-c4e8-40b4-aa6c-25e296926396" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/0GQ_U1571khpXcGAXhPntm4arNWqGA9AWNKJgq_bNGo/1657716035/public/inline-images/teampack_1440x520_rom2_0.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier en roumanie" data-align="center" data-entity-type="file"
                        data-entity-uuid="bc25eeb1-3e93-4304-ab2a-14fa8e83bc35"
                        src="https://static-rwc.as2.io/cdn/ff/XgslSctxV3PpTbrtfG3mNn0osgqYFsY211ic7IMHmqM/1659713360/public/inline-images/roumanie-team-graphics-uk.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2"><br />
                      <br />
                      <br />

                      <h2>ROMANIA INTRODUCTION</h2>

                      <p>Romania return to the Rugby World Cup stage after missing out on Japan 2019 to bring to an end
                        their ever-present record in the showpiece tournament. Romania had expected to contest the Final
                        Qualification Tournament after finishing third in the Rugby Europe Championship 2021 and 2022
                        combined standings. However, eligibility issues for Spain saw Romania elevated to Europe 2 and
                        directly qualified for Rugby World Cup 2023.</p>

                      <p>The Oaks will look to make an impact on their Rugby World Cup return in a Pool B that features
                        defending champions South Africa, Ireland, Scotland and Tonga. Romania have many experienced
                        players, including captain and flanker Mihai Macovei and scrum-half Florin Surugiu who provide
                        support to the next generation coming through.</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>
{% endblock %}