{% extends "base.html" %}

{% load static %}

{% block title %}samoa{% endblock title %}


{% block body %}https:
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">SAMOA</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/samoa" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="SAMOA" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-Samoa" data-align="center" data-entity-type="file"
                        data-entity-uuid="8a6b7964-13a2-4938-8adf-1c2b92146c1f" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/CPO6zgu569rP3zt5jpOT09q_Fxdt5iDbFLWUOdBgLF4/1626679645/public/inline-images/teampack_1440x520_samoa.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_Samoa" data-align="center" data-entity-type="file"
                        data-entity-uuid="5c6f8316-a373-4646-86db-406e4d2cfa3f"
                        src="https://static-rwc.as2.io/cdn/ff/AFcoqKouuhKxkVoLM9F6IYbS48Z69hZINh-AoUEud9c/1658312803/public/inline-images/samoa-team-graphics-uk.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>SAMOA INTRODUCTION</h2>

                      <p>Samoa qualified as 13th team of Rugby World Cup France 2023 after winning a double-header
                        against Tonga (42-13, 37-15), confirming a 9th consecutive Rugby World Cup participation. The
                        Pacific Islanders will face England, Japan, Argentina and Chile in Pool D and won't be a team
                        that anyone will underestimate.<br />
                        <br />
                        Led by their captain Michael Alaalatoa, the Manu Samoa will bring a strong challenge to the
                        competition, notably through centre Henry Taefu, hero of the qualifications against Tonga with
                        37 points scored. <br />
                        <br />
                        Historically present in France, where Census Johnston, Henry Tuilagi and Iosefa Tekori are
                        household names, the Manu Samoa will hope for a more successful tournament than RWC 2007 where
                        they finished fourth in Pool A. Coach Seilala Mapusua was a member of that Samoa team.
                      </p>

                      <p>In 2023, Samoa will look to match the performance of 1990’s Samoa sides that reached the
                        quarter final stages (1991, 1995) under the leadership of the legendary and 5-time Rugby World
                        Cup participant Brian Lima. A record he currently shares with Italy’s Sergio Parisse and Mauro
                        Bergamasco.</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}