{% extends "base.html" %}

{% load static %}

{% block title %}scotland{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">SCOTLAND </span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/scotland" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="SCOTLAND " class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-pack-eco" data-align="center" data-entity-type="file"
                        data-entity-uuid="9021e4ff-2023-4d08-8ea6-4e9c754dc72f" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/C-d-U7BBSPc5RI6xP073SNBWZ6jp9mFrhTynrjuFyO4/1614352528/public/inline-images/teampack_1440x520_eco.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_sco" data-align="center" data-entity-type="file"
                        data-entity-uuid="bcd64d14-58fb-4125-a3b9-87d571b90a4b"
                        src="https://static-rwc.as2.io/cdn/ff/-dBSuSAI7tg2s24A_fU8parJU5v8KWhA3-jz16Xdfqg/1681895625/public/inline-images/ecosse-calendrier-uk-avril2023.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>SCOTLAND INTRODUCTION</h2>

                      <p>It has to be seen – and heard – for itself. There’s nothing quite like belting out <em>Flower
                          of Scotland</em> in a packed stadium, surrounded by Scottish fans all singing one of the most
                        beautiful anthems in international sport.</p>

                      <p>Scotland, which will take part in their 10th Rugby World Cup in 2023, are one of the most hotly
                        anticipated attractions of the tournament, given their rich RWC history. Who could forget the
                        appetite of White Shark John Jeffrey, or snipers Gavin Hastings (RWC 1987, 1991, 1995) and Chris
                        Paterson (RWC 1999, 2003, 2007, 2011), who both cleared the astounding bar of 100 points scored
                        during the group stages.</p>

                      <p>Beaten by Japan and Ireland in the 2019 edition, Scotland will be looking for revenge in
                        France. In doing so, they will be able to rely on the likes of their captain and great backrow’s
                        leader Jamie Ritchie, Stuart Hogg, standout player of the Six Nations Championship in 2016 and
                        2017, and the unpredictable and outstanding Finn Russell.</p>

                      <p>Being drawn in the same pool as Ireland and defending world champions South Africa, Scotland
                        will have a lot of work to do. "When you look at the World Rugby rankings, this is one of the
                        toughest pools," said head coach Gregor Townsend after the draw. “All teams will have to play
                        their best rugby to qualify.” You can bet Scotland will.</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}