{% extends "base.html" %}

{% load static %}

{% block title %}south_africa{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">SOUTH AFRICA</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/south_africa" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="SOUTH AFRICA" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-pack-afs" data-align="center" data-entity-type="file"
                        data-entity-uuid="25be9573-f11a-4ef7-bbf8-f3356eb2187a" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/7tjv1nKa_jCvANiwufoNPDF7QV6TIOQ2ZGfapgW4Jcg/1614352397/public/inline-images/teampack_1440x520_afs.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_afs" data-align="center" data-entity-type="file"
                        data-entity-uuid="d9238012-5fec-498e-b2ce-1c02bd151380"
                        src="https://static-rwc.as2.io/cdn/ff/f6rqMAC1iIgt9hmk5Q8YMuAnTXHGxHqOtflKlLUdcHA/1681892614/public/inline-images/south-africa-calendrier-uk-avril2023.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>SOUTH AFRICA INTRODUCTION</h2>

                      <p>South Africa shares an amazing history with Rugby World Cup, an extraordinary story that
                        transcends sport. Who could forget the historic 1995 edition and the final in Johannesburg
                        where, with President Nelson Mandela looking on, rugby helped reconcile a country long divided
                        by apartheid?</p>

                      <p>This legendary proof of how sport unites us all was once again on display to the world during
                        Rugby World Cup 2019, where Siya Kolisi, once just another kid from a township in Port
                        Elizabeth, led his teammates to victory against England in the final (32-12) as the first black
                        captain of the Springboks.</p>

                      <p>In 2023, South Africa will have the opportunity to write another new page in its inspiring
                        history and become the first team to win the Webb Ellis Cup for the fourth time, 16 years after
                        last triumphing at the Stade de France in Paris over England (15-6).</p>

                      <p>Who will be the heirs of Bryan Habana, Victor Matfield, Schalk Burger and Fourie du Preez,
                        winners in 2007? Will the likes of Cheslin Kolbe, Pieter-Steph du Toit and Faf de Klerk, who
                        already shone in 2019, lead South Africa to their fourth world title?</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}