{% extends "base.html" %}

{% load static %}

{% block title %}teamfrance{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">FRANCE</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/teamfrance" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="FRANCE" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-pack-france" data-align="center" data-entity-type="file"
                        data-entity-uuid="daa37e74-85d0-4d6e-ad9a-c2cb96ba8642" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/A0ps6YZ-6gZUTkl9ELPnY2MLQnUDx9gM7sb4ufLE5Vc/1614106003/public/inline-images/teampack_1440x520_fra_0.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_fra" data-align="center"
                        data-entity-type="file" data-entity-uuid="c2bdd8f5-0637-401c-857e-0df37839d9ac"
                        src="https://static-rwc.as2.io/cdn/ff/tBixisRU2IZQ-WOtlYyDg-WkVsjOEApIODDvBcFoaJs/1681896103/public/inline-images/france-calendrier-uk-avril2023.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>FRANCE INTRODUCTION</h2>

                      <p>Host nation France have more than their fair share of memorable moments at Rugby World
                        Cup. We all fondly remember Serge Blanco's mythic try against Australia in 1987,
                        Christophe Dominici's confusing hooks which troubled favourites New Zealand in 1999, and
                        Thierry Dusautoir's devastating tackles, which earned him the nickname 'Dark Destroyer'
                        one night in 2007, facing those same All Blacks.</p>

                      <p>No matter the year, no matter the opponents, no matter the line-up, France have always
                        left their mark, bringing with them a flair that has become legendary. And the beautiful
                        story they have written is sure to continue with another chapter in 2023.</p>

                      <p>On home soil, in front of a home crowd, the men under duo Fabien Galthié and Raphaël
                        Ibañez will be determined to break barriers and finally lift the Webb Ellis Cup for the
                        first time in their history, after reaching the final three times, in 1987, 1999 and
                        2011.</p>

                      <p>After a few turbulent years, the “Blue Dream” is now embodied by a new generation of
                        talented players, who all experienced the electric atmosphere of Rugby World Cup 2007
                        one way or another. Led by the formidable combination of Romain Ntamack and captain
                        Antoine Dupont and key players including Gregory Alldritt or Julien Marchand, they will
                        be determined to make it fourth time the charm. Behind them is a whole country waiting
                        to celebrate come 28 October, 2023.</p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>https:
{% endblock %}