{% extends "base.html" %}

{% load static %}

{% block title %}scotland{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">TONGA</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/tonga" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="TONGA" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-Tonga" data-align="center" data-entity-type="file"
                        data-entity-uuid="829aa4a5-64e5-42bc-b4d1-852df3a0ba2b" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/OA9ladEpMDuwiGKuEB3FaNQPAzBWBohGa19PEbTJj_U/1659944129/public/inline-images/teampack_1440x520_tonga.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_Tonga" data-align="center" data-entity-type="file"
                        data-entity-uuid="a1db12a9-68f7-4b5f-91fe-26dda7b1c708"
                        src="https://static-rwc.as2.io/cdn/ff/x9hD3p5pjSQhnvpXhhHAsQYS8e6zEGikyN7vggak6qs/1681897211/public/inline-images/tonga-team-graphics-uk_0.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>TONGA INTRODUCTION</h2>

                      <p>Thanks to victory against Hong Kong (44-22) during the Asia / Pacific 1 playoff, Tonga
                        qualified for Rugby World Cup 2023. Stand-out player of the match was scrum-half Sonatane
                        Takulua, who led the Sipi Tau and scored half of the Tongan tries (3 out of 6).</p>

                      <p>The Oceanian archipelago team will take part in a ninth Rugby World Cup. The Ikale Tahi (Sea
                        Eagles) will compete in Pool B with South Africa, Ireland, Scotland and Romania. Tonga will have
                        serious assets on display, such as their fearsome center pairing George Moala - Malakai Fekitoa,
                        both having previous experience with the New Zealand set-up and now part of the Tongan national
                        team since 2022, thanks to World Rugby's new eligibility regulations for national selections.
                      </p>
                    </div>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}