{% extends "base.html" %}

{% load static %}

{% block title %}uruguay{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">

    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


            <div class="content">

              <h1 class="title"><span property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden">URUGUAY</span>
              </h1>


            </div>
          </div>
          <div id="block-wrc8-content" class="block block-system block-system-main-block">


            <div class="content">


              <article role="article" about="/en/uruguay" typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix">
                <header>

                  <span property="schema:name" content="URUGUAY" class="rdf-meta hidden"></span>

                </header>
                <div class="node__content clearfix">

                  <div property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                    <p> </p>

                    <p><img alt="team-pack-uruguay" data-align="center" data-entity-type="file"
                        data-entity-uuid="ef03832c-53c2-498a-ab9d-14ac81a1fad1" height="auto"
                        src="https://static-rwc.as2.io/cdn/ff/MEMwFyflGZMIi9bvifr68IGQMwXFgjR3PvluPY4cY-Y/1633895426/public/inline-images/teampack_1440x520_uruguay.png"
                        width="100%" loading="lazy" /></p>

                    <p> </p>

                    <div class="col_ww2"><img alt="calendrier_en_uruguay" data-align="center" data-entity-type="file"
                        data-entity-uuid="0a73c429-7031-4818-84ab-0a0ad732f5b2"
                        src="https://static-rwc.as2.io/cdn/ff/jiegXQdrQFAayo64hv92axGGIlN7VhjyLu0Z2nPsL0I/1658312281/public/inline-images/uru-team-graphics-uk.png"
                        width="1080" height="1080" loading="lazy" /></div>

                    <div class="col_ww2">
                      <h2>TEAM INTRODUCTION</h2>

                      <p>14th nation qualified for Rugby World Cup 2023, Uruguay got the better of the United States of
                        America in the “Americas 1” playoff. A hard-fought victory which gives the Teros access to Pool
                        A, where they will be up against New-Zealand, France, Italy and Namibia.</p>

                      <p>RWC 2023 will be the 5th participation of Uruguay in a Rugby World Cup, the third consecutive.
                        The team, led by Esteban Meneses, will look to reiterate their performance from 2019 when they
                        managed a historical win over Fiji (27-30), in one of the tournament’s biggest upsets ever.</p>

                      <p>Amongst the players from the Celeste that will look to shine in 2023 : centre and captain
                        Andrés Vilaseca, scrum-half Santiago Arata or or fly-half Felipe Berchesi. Three players
                        accustomed to French rugby as they ply their trade in Vannes, Castres and Dax.</p>
                    </div>

                    <p> </p>
                  </div>



                </div>
              </article>

            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

        </section>
      </main>
    </div>
  </div>
</div>

{% endblock %}