{% extends "base.html" %}

<!-- <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/gh/jackocnr/intl-tel-input@v17.0.19/build/css/intlTelInput.min.css" /> -->
<!-- <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/gh/jackocnr/intl-tel-input@v16.1.0/build/css/intlTelInput.min.css" /> -->
<!-- <link rel="stylesheet" media="all" href="https:/sites/hubber_site_wrc8/files/css/css_UK9C1x1f6mAjkJKsSQIl0Xsj8M35nWQ14uTOpnAEOD8.css" /> -->
<!-- <link rel="stylesheet" media="all" href="https:/sites/hubber_site_wrc8/files/css/css_EPOoSFfKy2hKee9gqH4AtdPWXLeOaJ8VK1gANGalDpc.css" /> -->
{% load static %} {% block title %}scotland{% endblock title %} {% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
  <div id="main" class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-left clearfix">
      <main class="main-content col order-last" id="content" role="main">
        <section class="section">
          <a id="main-content" tabindex="-1"></a>
          <div
            id="block-wrc8-page-title"
            class="block block-core block-page-title-block"
          >
            <div class="content">
              <h1 class="title">
                <span
                  property="schema:name"
                  class="field field--name-title field--type-string field--label-hidden"
                  >ACCESSIBILITY BOOKING</span
                >
              </h1>
            </div>
          </div>
          <div
            id="block-wrc8-content"
            class="block block-system block-system-main-block"
          >
            <div class="content">
              <article
                role="article"
                about="/en/accessibility_booking"
                typeof="schema:WebPage"
                class="node node--type-page node--view-mode-full clearfix"
              >
                <header>
                  <span
                    property="schema:name"
                    content="ACCESSIBILITY BOOKING"
                    class="rdf-meta hidden"
                  ></span>
                </header>
                <div class="node__content clearfix">
                  <div
                    property="schema:text"
                    class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"
                  >
                    <p>
                      <img
                        alt="visuel GMF"
                        data-entity-type="file"
                        data-entity-uuid="4d7c796a-277b-4923-b00e-4f7c1e8a9ebb"
                        src="https://static-rwc.as2.io/cdn/ff/hUNpyQPDaotzlgjq8L2jYXtCih1h-nsA6pzsnFgmCAo/1655106551/public/inline-images/header_1440x520_4_0.png"
                        width="1440"
                        height="520"
                        loading="lazy"
                      />
                    </p>

                    <p class="text-align-center"></p>

                    <p class="text-align-center">
                      <a
                        class="btn_custom default_cta"
                        href="https://tickets.rugbyworldcup.com/en/accessibility"
                        >LIST OF MATCHES</a
                      >
                    </p>

                    <p></p>

                    <h2>
                      <span style="font-size: 18px"
                        >FRANCE 2023 CONTRIBUTES TO BETTER ACCESSIBILITY</span
                      >
                    </h2>

                    <p>
                      In line with its CSR policy, France 2023 wants to organise
                      a Rugby World Cup with a positive impact. Our ambition is
                      to go beyond the organisation of 48 matches, and to
                      deliver an event that is sustainable both in terms of the
                      way it takes place and the impact it will have on the
                      future.
                    </p>

                    <p>
                      France 2023 will offer a respectful and optimal support
                      program for people with disabilities so that all rugby
                      fans can participate in the event.
                    </p>

                    <p></p>

                    <h2>
                      <span style="font-size: 18px">ACCOMPANYING PROGRAM</span>
                    </h2>

                    <p>
                      Our objective is to offer a customised program that will
                      facilitate your arrival at the stadium and your return.
                      France 2023 will notably rely on a transport service,
                      within the perimeter of the host city, to give you access
                      to the 2023 Rugby World Cup venues.
                    </p>

                    <p></p>

                    <h2>
                      <span style="font-size: 18px">RECEPTION PROGRAM</span>
                    </h2>

                    <p>
                      France 2023 is working with accessibility experts to
                      provide innovative solutions to maximise spectator
                      experience during the competition. Our ambition is to
                      offer a standardised audio description system in all nine
                      stadiums of the competition.
                    </p>

                    <p>Rugby World Cup 2023 will be accessible to all!</p>

                    <p></p>

                    <table
                      border="0"
                      cellpadding="10"
                      cellspacing="10"
                      style="width: 1200px"
                    >
                      <tbody>
                        <tr>
                          <td class="text-align-center" style="width: 489px">
                            <img
                              alt="visuel GMF"
                              data-entity-type="file"
                              data-entity-uuid="008d5bd0-478f-4f2c-93e1-6dffa5be8d6d"
                              height="326"
                              src="https://static-rwc.as2.io/cdn/ff/TD397YSP2sjIWoZN9wMvFQXgnbKcXTewIFNY2bbf3VE/1655106625/public/inline-images/carre_600x600_3_0.png"
                              width="326"
                              loading="lazy"
                            />
                          </td>
                          <td style="width: 668px">
                            <h3>
                              <span style="font-size: 16px"
                                ><strong
                                  >GMF : TITLE SPONSOR OF THE ACCESSIBLE SEATS
                                  WELCOME PROGRAMME</strong
                                ></span
                              >
                            </h3>

                            <p class="text-align-justify">
                              GMF is strongly committed to equal opportunities,
                              a priority pillar of its CSR policy, and is
                              developing a number of initiatives to promote
                              inclusion with its institutional and sporting
                              partners. Because rugby should be shared by all,
                              GMF is proud to accompany France 2023 and as title
                              sponsor of the PSH/PMR welcome programme.<br />
                              GMF will mobilise a number of its employee
                              volunteers around a dedicated welcome programme.
                            </p>

                            <p class="text-align-justify">
                              Thanks to specific and personalised support, each
                              and every one of you will be able to enjoy your
                              stadium experience and thrill to the matches in
                              the best conditions.
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p></p>

                    <h2>
                      <span style="font-size: 18px"
                        >WHO IS THE ACCESSIBLE SEATS SALE FOR?</span
                      >
                    </h2>

                    <p>
                      To get tickets for accessible seats you must have one of
                      the following disabilities and provide supporting
                      documentation:
                    </p>

                    <p></p>

                    <table
                      align="center"
                      border="0"
                      cellpadding="10"
                      cellspacing="10"
                      style="width: 1200px"
                    >
                      <tbody>
                        <tr>
                          <td class="text-align-center">
                            <img
                              alt="Visuel fauteuil roulant"
                              data-entity-type="file"
                              data-entity-uuid="a5a8289f-7854-4f42-ad34-ce5048d94c47"
                              height="160"
                              src="https://static-rwc.as2.io/cdn/ff/MZk9MnW31I7bME0ihABNCtaKZ3LUwbj1urILVoNTQtY/1654173259/public/inline-images/edito-fauteuil-roulant.png"
                              width="120"
                              loading="lazy"
                            />
                          </td>
                          <td class="text-align-center">
                            <img
                              alt="personne à mobilité réduite"
                              data-entity-type="file"
                              data-entity-uuid="17bb138e-0fa7-45b8-b185-f525df43b967"
                              height="160"
                              src="https://static-rwc.as2.io/cdn/ff/iM_ISby_8aj0s16wgQLGcANx9SD02f-NntTvXJ8NvoA/1654173270/public/inline-images/edito-personnalite-reduite.png"
                              width="120"
                              loading="lazy"
                            />
                          </td>
                          <td class="text-align-center">
                            <img
                              alt="déficient auditif"
                              data-entity-type="file"
                              data-entity-uuid="af35fa71-eb40-42e7-a1e7-e86bf091d4cd"
                              height="160"
                              src="https://static-rwc.as2.io/cdn/ff/FijE_nM0C1ylRsIBUy8xbkp9roRPw79lgNXYkVLubAU/1654173282/public/inline-images/edito-deficient-auditif.png"
                              width="120"
                              loading="lazy"
                            />
                          </td>
                          <td class="text-align-center">
                            <img
                              alt="déficient visuel"
                              data-entity-type="file"
                              data-entity-uuid="20924f44-b43f-4982-bbc5-165fc096ae68"
                              height="160"
                              src="https://static-rwc.as2.io/cdn/ff/T5n5kscv_XPtWnzz3hjmkZnvZIzWgoHakJcozA6YwNw/1654168000/public/inline-images/edito-deficient-visuel_0.png"
                              width="120"
                              loading="lazy"
                            />
                          </td>
                          <td class="text-align-center">
                            <img
                              alt="déficient mental"
                              data-entity-type="file"
                              data-entity-uuid="9fc66f0b-ff29-43c6-b3c1-8956605e2e4a"
                              height="160"
                              src="https://static-rwc.as2.io/cdn/ff/WyffTFfsg1fAriKNhtwVRnRd2xyv6Q6qSkPCZ8yQVjk/1654173295/public/inline-images/edito-deficient-mental.png"
                              width="120"
                              loading="lazy"
                            />
                          </td>
                        </tr>
                        <tr>
                          <td class="text-align-center">
                            <p>WHEELCHAIR USERS</p>
                          </td>
                          <td>
                            <p class="text-align-center">MOBILITY IMPAIRED</p>
                          </td>
                          <td class="text-align-center">
                            <p>HEARING IMPAIRED</p>
                          </td>
                          <td class="text-align-center">
                            <p>VISUALLY IMPAIRED</p>
                          </td>
                          <td class="text-align-center">
                            <p>LEARNING DISABILITY</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <p></p>

                    <h2>
                      <span style="font-size: 18px"
                        >WHAT THE SALE IS ABOUT?</span
                      >
                    </h2>

                    <p>
                      You will be able to book one seat per match, with or
                      without an accompanying person, up to a maximum of three
                      matches.
                      <strong
                        >Only the seat for the companion will be charged</strong
                      >.
                    </p>

                    <p>
                      To benefit from a free accessibility seat you must
                      <strong>load supporting documentations</strong> into "my
                      documents" - section of your ticketing account, at the end
                      of the booking process.
                    </p>

                    <p>
                      Tickets will be sold on a first come, first served basis.
                    </p>

                    <h2>
                      <span style="font-size: 18px"
                        >HOW DO I BOOK AN ACCESSIBLE SEAT?</span
                      >
                    </h2>

                    <p>There are 3 steps to booking accessible seats:</p>

                    <div class="question_ww">Step 1 - I book my tickets</div>

                    <div class="answer_ww text-align-center">
                      From your browser, access the official 2023 Rugby World
                      Cup ticketing service
                      <a href="https://tickets.rugbyworldcup.com/en"
                        >official 2023 Rugby World Cup</a
                      ><br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      /><br /><img
                        alt="CTA login"
                        data-entity-type="file"
                        data-entity-uuid="bbff19e0-9c09-476d-b3ca-e770eaa9b32e"
                        height="37"
                        src="https://static-rwc.as2.io/cdn/ff/IpVaMqLAbIJ_8VPbu0M-bTjCoXgyz9Xh7NP0egqvDMI/1654848740/public/inline-images/bouton-login-en_0.png"
                        width="84"
                        loading="lazy"
                      /><br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      /><br />
                      Enter your login details<br /><br />
                      If you are already logged in, go to the next step<br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      />
                      <br />
                      Click on the menu « ACCESSIBILITY BOOKING »<br /><br /><img
                        alt="header tickets EN"
                        data-entity-type="file"
                        data-entity-uuid="c801f39b-6851-4d03-842d-fbb2791354ab"
                        height="37"
                        src="https://static-rwc.as2.io/cdn/ff/Uf1ieMW23TRX2hlsWrY0dc3mDkoIK48yiBLuFoIMGNs/1654848730/public/inline-images/header-page-edito-en_0.png"
                        width="721"
                        loading="lazy"
                      /><br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      />
                      <br />
                      Click on the "LIST OF MATCHES" button<br /><br /><img
                        alt="CTA list of matches"
                        data-entity-type="file"
                        data-entity-uuid="597442b7-a2fb-4791-8749-24318f782b0b"
                        src="https://static-rwc.as2.io/cdn/ff/16ZyFPRZpBpFDsuwMsFnesSjnrhLlybhA5WKD9iq0Fg/1654849153/public/inline-images/bouton-liste-des-matchs-en.png"
                        width="171"
                        height="44"
                        loading="lazy"
                      /><br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      />
                      <br />
                      Chose the match of your choice<br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      />
                      <br />
                      Select your disability<br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      />
                      <br />
                      Complete your booking by registering your payment.
                    </div>

                    <div class="question_ww">
                      Step 2 - I add my supporting documents
                    </div>

                    <div class="answer_ww text-align-center">
                      Go to "my documents" section of your ticketing account<br /><br /><img
                        alt="CTA my documents"
                        data-entity-type="file"
                        data-entity-uuid="5d9cba0d-36b5-42e5-a184-ec74a0fcbdad"
                        height="80"
                        src="https://static-rwc.as2.io/cdn/ff/vXii69syn5OspUV-7KJm31XRAZx64UIAZ-8UvroL4Nw/1654849114/public/inline-images/bouton-mes-documents-en.png"
                        width="207"
                        loading="lazy"
                      /><br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      />
                      <br /><br /><img
                        alt="CTA add a document"
                        data-entity-type="file"
                        data-entity-uuid="ffbbdefe-d7c1-438e-96a4-144fa42e1274"
                        src="https://static-rwc.as2.io/cdn/ff/Hc6_vl1YRJ08KVTal0dz5zqfkcYT5B9b4JoTxSYdDwQ/1654849132/public/inline-images/bouton-ajouter-un-document-en.png"
                        width="176"
                        height="42"
                        loading="lazy"
                      /><br /><br /><img
                        alt="Forme"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAA3CAYAAADXCsC3AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABySURBVEhL7Y3LDYAwDEM9EqMwUjdiFCZCJSBHpNDfGflJviS2Ht5kIFkyk3juoxHRiGhENCIaEY2IRuQvI3suodjKyvrDAWyV4h377ayV2LNn+1qcmq1pcaxUs7UtTrQNLY6Vo21scS7btMWhbd4ipgFOYZVxNipSfIsAAAAASUVORK5CYIIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=="
                        unselectable="on"
                      />
                      <br />
                      Load your supporting documents<br /><br /><br /><em
                        >Our team will check your supporting documents before
                        confirming your order. You will be able to follow the
                        validation on "my documents" section of your ticketing
                        account, and by email. If the document is refused, our
                        team will contact you directly by email. You will have
                        24 hours after receipt of the email to load a proper
                        document. If you don’t, your booking will be
                        cancelled</em
                      >
                    </div>

                    <div class="question_ww">
                      Step 3 - I receive the order confirmation
                    </div>

                    <div class="answer_ww text-align-center">
                      If your request is complete (step 2 validated by our
                      teams), you will receive an email validating your
                      proof.<br />
                      The payment of your order will then be made automatically
                      and you will receive an order confirmation email.<br />
                      If your order contains only accessibility tickets (with no
                      companion, your order is definitively validated.
                    </div>

                    <p></p>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <span
            data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"
          ></span>
        </section>
      </main>
    </div>
  </div>
</div>

{% endblock%}
