{% extends "base.html" %}


<!-- <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/gh/jackocnr/intl-tel-input@v17.0.19/build/css/intlTelInput.min.css" /> -->
<!-- <link rel="stylesheet" media="all" href="https://cdn.jsdelivr.net/gh/jackocnr/intl-tel-input@v16.1.0/build/css/intlTelInput.min.css" /> -->
<!-- <link rel="stylesheet" media="all" href="https:/sites/hubber_site_wrc8/files/css/css_UK9C1x1f6mAjkJKsSQIl0Xsj8M35nWQ14uTOpnAEOD8.css" /> -->
<!-- <link rel="stylesheet" media="all" href="https:/sites/hubber_site_wrc8/files/css/css_EPOoSFfKy2hKee9gqH4AtdPWXLeOaJ8VK1gANGalDpc.css" /> -->
{% load static %}

{% block title %}scotland{% endblock title %}


{% block body %}
<div id="main-wrapper" class="layout-main-wrapper clearfix">
    <div id="main" class="container-fluid">

<div class="row row-offcanvas row-offcanvas-left clearfix">
  <main class="main-content col order-last" id="content" role="main">
    <section class="section">
      <a id="main-content" tabindex="-1"></a>
        <div id="block-wrc8-page-title" class="block block-core block-page-title-block">


<div class="content">

<h1 class="title"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">France 2023 parking offer</span>
</h1>


</div>
</div>
<div id="block-wrc8-content" class="block block-system block-system-main-block">


<div class="content">


<article role="article" about="/en/parking_booking" typeof="schema:WebPage" class="node node--type-page node--view-mode-full clearfix">
<header>

<span property="schema:name" content="France 2023 parking offer" class="rdf-meta hidden"></span>

</header>
<div class="node__content clearfix">

  <div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p class="text-align-center"> </p>

<p class="text-align-center"><a class="btn btn-primary d-inline-flex" href="https://tickets.rugbyworldcup.com/en/parking" rel=" noopener" target="_blank">PARKINGS LIST</a></p>

<p> </p>

<h2>What is the parking offer?</h2>

<p>To prepare your visit to the venue during Rugby World Cup 2023, parking spaces are available according to your needs and your means of transport (cars or motorcycle).</p>

<p>All Rugby World Cup 2023 venues are also accessible to people with disabilities. There are parking spaces dedicated to our accessibility tickets holders. </p>

<div class="col_ww3 text-align-center"><img alt="logo" data-entity-type="file" data-entity-uuid="e867e977-1cdf-48f4-adce-bac7ea81ee8f" height="169" src="https://static-rwc-ppd.as2.io/cdn/ff/_udPjVsfkSlBrZmW5a0ynpBt_F0m46CQ1LQ-HLjVWZ8/1679908859/public/inline-images/icon_-_voiture-removebg-preview.png" width="220" /><br /><br /><strong>CARS (light vehicles)</strong><br /><br />
From €15<br /><br />
Maximum 2 parking spaces per match*<br /><br />
All light vehicles<br />
(max. 5m length - 2.30m width - 1.9m height)<br /><br />
Available in Bordeaux, Lille, Lyon, Nantes, Nice<br /><br /><span style="font-size:11px;">*Subject to availability</span></div>

<div class="col_ww3 text-align-center"><img alt="logo" data-entity-type="file" data-entity-uuid="4a18ccbd-1b54-40d9-913e-3abc96a2a580" height="170" src="https://static-rwc-ppd.as2.io/cdn/ff/Sa23kBtbnyLitKUXeGU11W4DrsCaUV3Y4sUcuLcvEIQ/1679908896/public/inline-images/icon_-_pmr_psh-removebg-preview.png" width="290" /><br /><br /><strong>ACCESSIBILITY PARKING (cars only)</strong><br /><br />
Free<br />
(reservation required)<br /><br />
Maximum 1 parking space per match*<br /><br />
Only for accessibility tickets holders<br /><br />
Available on all venues<br /><br /><span style="font-size:11px;">*Subject to availability</span></div>

<div class="col_ww3 text-align-center"><img alt="logo" data-entity-type="file" data-entity-uuid="f0734020-4801-4e52-8740-17c1a1d22d7c" height="171" src="https://static-rwc-ppd.as2.io/cdn/ff/rtBC4sbInCL8DqnDEIf5rXrzuuG_xxNEQjvG50DopxA/1679908882/public/inline-images/icon_-_moto-removebg-preview.png" width="222" /><br /><br /><strong>TWO-WHEELED VEHICLES (Motorcycles)</strong><br /><br />
Free / Lyon €5<br />
(reservation required)<br /><br />
Maximum 2 parking spaces per match*<br /><br />
Reserved for two-wheeled motorcycles<br />
(three-wheeled authorized if width &lt; 1.2m)<br /><br />
Available on all venues<br /><br /><span style="font-size:11px;">*Subject to availability</span></div>

<p> </p>

<h2>Rules about parking </h2>

<ul><li>Except for Lyon*, the parking offer will be available exclusively on the website tickets.rugbyworldcup.com</li>
<li>No exchange or refund will be possible</li>
<li>The resale of your parking space will not be authorized</li>
<li>Your parking space is for single use only. Any exit of the parking lot will be final </li>
</ul><p> </p>

<h2>Where can I find my parking lot ?</h2>

<p>To visualize parking lots, <a href="https://tickets.rugbyworldcup.com/en/parking_access" rel=" noopener" target="_blank"><font color="#ff00d2">click here</font></a>.</p>

<p> </p>

<h2>Security measures</h2>

<p>Security guards will be deployed to facilitate your arrival and departure in the parking lots, and to allow you to have the best experience around Rugby World Cup 2023 venues.</p>

<p>However, France 2023 cannot be held responsible for any theft or damage inside the parking areas.</p>

<p> </p>

<h2>*Special case of the parking lots in Lyon?</h2>

<p>The parking spaces for OL Stadium in Lyon will be exclusively sold by Olympique Lyonnais for Rugby World Cup 2023. When you will select your match in the match list, you will be automatically redirected to the dedicated website. You will then be asked to create a specific customer account on this dedicated webiste <span style="color:#ff00d2;">https://france2023.ol.fr/en</span>.</p>

<p>To buy your parking spaces in Lyon, you can also <a href="https://france2023.ol.fr/en" rel=" noopener" target="_blank" title="Parking booking"><span style="color:#ff00d2;">click here</span></a>.</p>

<p> </p>

<div class="question_ww">Steps to book your parking space</div>

<div class="answer_ww text-align-center">
<p class="text-align-center">From your browser, access the official 2023 Rugby World Cup ticketing service</p>

<p class="text-align-center"><img alt="flèche rouge" data-entity-type="file" data-entity-uuid="82ceab9b-42f2-4b03-b22c-ad2054c71cae" height="30" src="https://static-rwc-ppd.as2.io/cdn/ff/dvPnwKuXXgWG4BQGG63L8fBYzObu0oMkFASrpQjRBIM/1681481843/public/inline-images/fleche-rouge-haut.png" width="30" /></p>

<p class="text-align-center">Enter your login details<br />
If you are already logged in, go to the next step<br />
If you want to buy ACCESSIBILITY parking, log you in with the account you used to book your tickets</p>

<p class="text-align-center"><img alt="flèche rouge" data-entity-type="file" data-entity-uuid="82ceab9b-42f2-4b03-b22c-ad2054c71cae" height="30" src="https://static-rwc-ppd.as2.io/cdn/ff/dvPnwKuXXgWG4BQGG63L8fBYzObu0oMkFASrpQjRBIM/1681481843/public/inline-images/fleche-rouge-haut.png" width="30" /></p>

<p class="text-align-center">Click  on the menu "PARKING BOOKING"</p>

<p class="text-align-center"><img alt="flèche rouge" data-entity-type="file" data-entity-uuid="82ceab9b-42f2-4b03-b22c-ad2054c71cae" height="30" src="https://static-rwc-ppd.as2.io/cdn/ff/dvPnwKuXXgWG4BQGG63L8fBYzObu0oMkFASrpQjRBIM/1681481843/public/inline-images/fleche-rouge-haut.png" width="30" /></p>

<p class="text-align-center"><img alt="logo" data-entity-type="file" data-entity-uuid="54ef4060-1647-439d-9f38-55a10b3bd919" height="42" src="https://static-rwc-ppd.as2.io/cdn/ff/j-mMo4PKbaBdiTT3HYGUDtUdYqq397FrP7Nfmc9GekY/1681751541/public/inline-images/header-menu-.jpg" width="851" /></p>

<p class="text-align-center">Click on <a href="https://tickets.rugbyworldcup.com/en/parking" rel=" noopener" target="_blank" title="plan des parkings"><span style="color:#ff00d2;">PARKINGS LIST</span></a></p>

<p class="text-align-center">Choose the match of your choice</p>

<p class="text-align-center"><img alt="flèche rouge" data-entity-type="file" data-entity-uuid="82ceab9b-42f2-4b03-b22c-ad2054c71cae" height="30" src="https://static-rwc-ppd.as2.io/cdn/ff/dvPnwKuXXgWG4BQGG63L8fBYzObu0oMkFASrpQjRBIM/1681481843/public/inline-images/fleche-rouge-haut.png" width="30" /></p>

<p class="text-align-center">Choose the type of parking you want</p>

<p class="text-align-center"><img alt="flèche rouge" data-entity-type="file" data-entity-uuid="82ceab9b-42f2-4b03-b22c-ad2054c71cae" height="30" src="https://static-rwc-ppd.as2.io/cdn/ff/dvPnwKuXXgWG4BQGG63L8fBYzObu0oMkFASrpQjRBIM/1681481843/public/inline-images/fleche-rouge-haut.png" width="30" /></p>

<p class="text-align-center">Complete your booking by registering your payment or finalizing your order</p>
</div>
</div>



</div>
</article>

</div>
</div>
<span data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=popinblock&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=ny_IxRc1VgeeMjB-1N4DzY6PN6is6VcIyvjgKjeHyNE"></span>

    </section>
  </main>
                        </div>
</div>
</div>


{% endblock%}