{% load static %}
<footer class="site-footer footer">
  <div class="container-fluid footer-container">
    <div class="site-footer__top clearfix">
      <section class="row region region-footer-first">
        <div id="block-partnerblock" class="block block-hubber-partners block-partner-block">


          <div class="content">

            <div id="block-hubber-partners">
              <div class="wrapper-partners">
                <div class="title">Worldwide partners</div>
                <div class="content-partners">
                  <div class="partners">
                    <div class="partners-li">
                      <a href="https://www.societegenerale.com/en" target="_blank">
                        <span> <img width="100" height="45" src="{% static 'images/societe-generale_0_0.svg' %}"
                            alt="societe_generale" loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.mastercard.co.uk/en-gb.html" target="_blank">
                        <span> <img width="30" height="13" src="{% static 'images/2wwp.mastercard_fond_noir_0.svg' %}"
                            alt="Mastercard" loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="http://www.asahisuperdry.com/" target="_blank">
                        <span> <img width="30" height="13" src="{% static 'images/asahi-silver.svg' %}" alt="Asahi"
                            loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.capgemini.com" target="_blank">
                        <span> <img width="100" height="45" src="{% static 'images/capgemini-2.svg' %}" alt="Capgemini"
                            loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.jaguarlandrover.com/" target="_blank">
                        <span> <img width="64" height="64" src="{% static 'images/5wwp.defender_fond-noir2_0.svg' %}"
                            alt="Defender" loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.emirates.com/" target="_blank">
                        <span> <img width="30" height="13" src="{% static 'images/emirates_0.svg' %}" alt="Asahi"
                            loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="wrapper-partners">
                <div class="title">Official sponsors</div>
                <div class="content-partners">
                  <div class="partners">
                    <div class="partners-li">
                      <a href="https://www.gl-events.com/en" target="_blank">
                        <span> <img width="100" height="44" src="{% static 'images/gl.svg' %}" alt="Gl_events" loading="lazy"
                            typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.gmf.fr/" target="_blank">
                        <span> <img width="100" height="44" src="{% static 'images/gmf.svg' %}" alt="GMF" loading="lazy"
                            typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.loxam.com/?lang=en" target="_blank">
                        <span> <img width="100" height="44" src="{% static 'images/loxam-1_0.svg'%}" alt="loxam"
                            loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.orange.com/en" target="_blank">
                        <span> <img width="100" height="44" src="{% static 'images/orange.svg' %}" alt="orange" loading="lazy"
                            typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.proman-emploi.fr/" target="_blank">
                        <span> <img width="100" height="44" src="{% static 'images/proman.svg' %}" alt="proman" loading="lazy"
                            typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.sncf.com/en" target="_blank">
                        <span> <img width="100" height="44" src="{% static 'images/sncf.svg' %}" alt="sncf" loading="lazy"
                            typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.totalenergies.com" target="_blank">
                        <span> <img width="100" height="44" src="{% static 'images/total-energies.svg' %}" alt="Total Energies"
                            loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                    <div class="partners-li">
                      <a href="https://www.vivendi.com/en/" target="_blank">
                        <span> <img width="100" height="44" src="{% static 'images/vivendi.svg' %}" alt="Vivendi"
                            loading="lazy" typeof="foaf:Image" />

                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div id="block-hubberfooterbranding" class="block block-hubber block-hubber-footer-branding-block">


          <div class="content">
            <img src="{% static 'images/vector-10.png' %}" alt="Home" typeof="foaf:Image" />

          </div>
        </div>
        <div id="block-followus" class="block block-hubber block-hubber-social-link">

          <div class="title">Follow us</div>

          <div class="content">
            <ul class="hubber-social-icons">
              <li>
                <a target="_blank" href="https://www.facebook.com/RugbyWorldCupFrance2023"
                  aria-label="See our Facebook page">
                  <i aria-hidden="true" class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://twitter.com/France2023" aria-label="See our Twitter page">
                  <i aria-hidden="true" class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.instagram.com/rugbyworldcupfrance2023"
                  aria-label="See our Instagram page">
                  <i aria-hidden="true" class="icon-instagram"></i>
                </a>
              </li>
              <li>
                <a target="_blank" href="https://www.youtube.com/channel/UCLxac7Ax2HXEueOJVvhPtzg"
                  aria-label="See our Youtube page">
                  <i aria-hidden="true" class="icon-youtube"></i>
                </a>
              </li>
            </ul>

          </div>
        </div>
        <span
          data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=wrc8_language_switcher&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=4LgtxdpIo78R2pFGB4hc0AYM8J8FpnG5glprHTLPfYA"></span>
      </section>




    </div>
    <div class="site-footer__bottom">
      <section class="row region region-footer-fifth">
        <nav role="navigation" aria-labelledby="block-wrc8-footer-menu" id="block-wrc8-footer"
          class="block block-menu navigation menu--footer">

          <div class="sr-only" id="block-wrc8-footer-menu">Footer menu</div>



          <ul block="block-wrc8-footer" class="clearfix nav navbar-nav">
            <li class="nav-item">
              <a href="/en/legal_notice" class="nav-link nav-link--en-legal-notice" target="_blank"
                data-drupal-link-system-path="node/8">Legal notice</a>
            </li>
            <li class="nav-item">
              <a href="/en/general_terms_and_conditions"
                class="nav-link nav-link--en-general-terms-and-conditions" target="_blank"
                data-drupal-link-system-path="node/6">Terms &amp; Conditions</a>
            </li>
            <li class="nav-item">
              <a href="/en/cookies" class="nav-link nav-link--en-cookies" target="_blank"
                data-drupal-link-system-path="node/9">Cookies</a>
            </li>
            <li class="nav-item">
              <a href="/en/privacy_policy" class="nav-link nav-link--en-privacy-policy" target="_blank"
                data-drupal-link-system-path="node/10">Privacy policy</a>
            </li>
            <li class="nav-item">
              <a href="contact"
                class="nav-link nav-link-https--ticketsrugbyworldcupcom-en-contact-us"
                target="_blank">Contact</a>
            </li>
            <li class="nav-item">
              <a href="faq"
                class="nav-link nav-link-https--ticketsrugbyworldcupcom-en-faq" target="_blank">FAQ</a>
            </li>
            <li class="nav-item">
              <a href="https://www.rugbyworldcup.com/2023/news"
                class="nav-link nav-link-https--wwwrugbyworldcupcom-2023-news" target="_blank">News</a>
            </li>
            <li class="nav-item">
              <a href="/en/contests_rules" class="nav-link nav-link--en-contests-rules"
                data-drupal-link-system-path="node/90">Contests rules</a>
            </li>
          </ul>



        </nav>

      </section>

    </div>
  </div>
</footer>