{% load static %}
<!-- {% static 'images/logo-picto.png' %} -->

<div class="hubber-off-canvas link">
    <div id="block-wrc8-hubbermenu" class="block block-hubber-block block-hubber-menu-block">
      <div class="content">
        <div class="hubber-menu-header hubber-menu-close">
          <a href="/en" title="Home" rel="home">
            <img src="{% static 'images/logo-picto.png' %}" alt="Home" class="img-fluid d-inline-block align-top" />
            <div class="logo-main"></div>
          </a>
        </div>
        <div class="justify-content-end link" id="hubberMenu">
          <div class="hubber-menu__menu hubber-menu__menu--main" data-drupal-selector="hubber-menu--main">
            <div class="hubber-menu__menu-title">Navigation principale</div>
            <ul class="hubber-menu__menu-list">
              <ul class="hubber-menu__menu-list link">
                <li
                  class="hubber-menu__menu-list-item hubber-menu__menu-list-item--parent hubber-menu__menu-list-item--expanded">
                  <span class="hubber-menu__menu-list-item-link hubber-menu__menu-list-item-link--span ">HOST
                    CITIES</span>
                  <ul class="hubber-menu__menu-list link">
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/bordeaux.html" class="hubber-menu__menu-list-item-link ">BORDEAUX</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/lille_metropole" class="hubber-menu__menu-list-item-link ">LILLE METROPOLE</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/lyon" class="hubber-menu__menu-list-item-link ">LYON</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/marseille" class="hubber-menu__menu-list-item-link ">MARSEILLE</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/nantes" class="hubber-menu__menu-list-item-link ">NANTES</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/nice" class="hubber-menu__menu-list-item-link ">NICE</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/saint_denis" class="hubber-menu__menu-list-item-link ">SAINT-DENIS</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/saint_etienne" class="hubber-menu__menu-list-item-link ">SAINT-ETIENNE</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/toulouse" class="hubber-menu__menu-list-item-link ">TOULOUSE</a>

                    </li>
                  </ul>

                </li>
                <li
                  class="hubber-menu__menu-list-item hubber-menu__menu-list-item--parent hubber-menu__menu-list-item--expanded">
                  <span class="hubber-menu__menu-list-item-link hubber-menu__menu-list-item-link--span ">QUALIFIED
                    TEAMS</span>
                  <ul class="hubber-menu__menu-list link">
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/argentina" class="hubber-menu__menu-list-item-link ">ARGENTINA</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/australia" class="hubber-menu__menu-list-item-link ">AUSTRALIA</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/chile" class="hubber-menu__menu-list-item-link ">CHILE</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/england" class="hubber-menu__menu-list-item-link ">ENGLAND</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/fiji" class="hubber-menu__menu-list-item-link ">FIJI</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/teamfrance" class="hubber-menu__menu-list-item-link ">FRANCE</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/georgia" class="hubber-menu__menu-list-item-link ">GEORGIA</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/ireland" class="hubber-menu__menu-list-item-link ">IRELAND</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/Italy" class="hubber-menu__menu-list-item-link ">ITALY</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/japan" class="hubber-menu__menu-list-item-link ">JAPAN</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/namibia" class="hubber-menu__menu-list-item-link ">NAMIBIA</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/new_zealand" class="hubber-menu__menu-list-item-link ">NEW ZEALAND</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/portugal" class="hubber-menu__menu-list-item-link ">PORTUGAL</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/romania" class="hubber-menu__menu-list-item-link ">ROMANIA</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/samoa" class="hubber-menu__menu-list-item-link ">SAMOA</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/scotland" class="hubber-menu__menu-list-item-link ">SCOTLAND</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/south_africa" class="hubber-menu__menu-list-item-link ">SOUTH AFRICA</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/tonga" class="hubber-menu__menu-list-item-link ">TONGA</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/uruguay" class="hubber-menu__menu-list-item-link ">URUGUAY</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="/en/wales" class="hubber-menu__menu-list-item-link ">WALES</a>

                    </li>
                  </ul>

                </li>
                <li
                  class="hubber-menu__menu-list-item hubber-menu__menu-list-item--parent hubber-menu__menu-list-item--expanded">
                  <span
                    class="hubber-menu__menu-list-item-link hubber-menu__menu-list-item-link--span ">PRODUCTS</span>
                  <ul class="hubber-menu__menu-list link">
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="https://travel2023.rugbyworldcup.com/"
                        class="hubber-menu__menu-list-item-link ">OFFICIAL TRAVEL</a>

                    </li>
                    <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                      <a href="https://hospitality2023.rugbyworldcup.com/"
                        class="hubber-menu__menu-list-item-link ">OFFICIAL HOSPITALITY</a>

                    </li>
                  </ul>

                </li>
                <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                  <a href="/en/accessibility_booking" class="hubber-menu__menu-list-item-link ">ACCESSIBILITY
                    BOOKING</a>

                </li>
                <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                  <a href="/en/parking_booking" class="hubber-menu__menu-list-item-link ">PARKING OFFER</a>

                </li>
                <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                  <a href="/en/join_the_family2023" class="hubber-menu__menu-list-item-link ">2023 FAMILY</a>

                </li>
                <li class="hubber-menu__menu-list-item hubber-menu__menu-list-item--child">
                  <a href="/en/donation" class="hubber-menu__menu-list-item-link ">JOIN RUGBY AU CŒUR</a>

                </li>
              </ul>

            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
